<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>TIKITAKA &ndash; 상품등록 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div id="modal_overlay">
    <div id="modal_main">
        <h1 id="modal_content"></h1>
        <a id="modal_button" class="btn btn-primary btn-lg" style="color:white;"></a>
    </div>
</div>

<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(product_create)">
        </div>
        <!------------->
        <!--replace-login-------------------------------->

        <nav class="site-navigation text-right text-md-center" role="navigation"
             th:replace="common::menu(product_create)">
        </nav>
        <!----------------------------------------------------------->
    </header>
    <!--replace logo-login-->
    <div class="bg-light py-3" th:replace="common::logo(product_create)">
    </div>
    <!------------------------->
    <div class="site-section margin-top-2"><!--margin class-->
        <div class="container">
            <form action="/product/create.do" method="post" enctype="multipart/form-data"
                  onsubmit="return Validation()">
                <input type="hidden" id="p_id" name="selId" th:value="${session.mbrId}">

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label class="text-black">카테고리
                            <span class="text-danger">*</span></label>
                        <!-- <img src="/istatic/images/shose/sho1.jpg"/>-->
                    </div>

                    <div class="NavItem">
                        <div class="search-bar-container">
                            <div class="category-box">
                                <div class="category">
                                    <select onchange="categoryChange(this)" name="category"
                                            class="form-control border-0 select-category font-14">
                                        <option class="form-control border-0 font-14" value="" disabled selected>메인 카테고리
                                        </option>
                                        <option class="form-control border-0 font-14" value="passion">패션</option>
                                        <option class="form-control border-0 font-14" value="digital">디지털/가전</option>
                                        <option class="form-control border-0 font-14" value="interior">가구/인테리어</option>
                                        <option class="form-control border-0 font-14" value="leisure">여가활동</option>
                                        <option class="form-control border-0 font-14" value="else">기타</option>
                                        <option class="form-control border-0 font-14" value="buy">삽니다</option>
                                    </select>
                                    <input type="hidden" id="selectedMain" value="">
                                </div>
                                <div class="category">
                                    <select onchange="categoryChangeDetail(this)" name="detail" id="detail"
                                            class="form-control border-0 select-category font-14"
                                            disabled='true'>
                                        <option class="form-control border-0 font-14" value="" disabled selected>세부 카테고리
                                        </option>
                                    </select>

                                    <input type="hidden" id="selectedDetail" name="catNo" value="">
                                </div>
                            </div>
                        </div>
                        <span id="valid_p_category" style="color: #ff0000;font-size: 10px;"></span>
                    </div>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle titleContainer">
                        <label for="p_title" class="text-black">제목
                            <span class="text-danger">*</span></label>
                    </div>
                    <div class="NavItem">
                        <input type="text" size="100" class="form-control" id="p_title" name="prodNm" maxlength="20"
                               onkeyup="onKeyUp('#valid_p_title');">
                        <span id="valid_p_title" style="color: #ff0000;font-size: 10px;"></span>
                        <span id="title_count"></span>
                    </div>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label class="text-black">상세정보
                            <span class="text-danger">*</span></label></div>
                    <div class="NavItem">
                    <textarea class="form-control" id="p_content" name="p_content" cols="100" rows="10"
                              style="width:100%;" onkeyup="onKeyUp('#valid_p_content');"></textarea>
                        <span id="valid_p_content" style="color: #ff0000;font-size: 10px;"></span>
                    </div>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label for="p_price" class="text-black">가격
                            <span class="text-danger">*</span></label></div>
                    <div class="NavItem">
                        <input type="number" class="form-control" id="p_price" name="prodPrc"
                               onkeyup="onKeyUp('#valid_p_price');" >
                        <span id="valid_p_price" style="color: #ff0000;font-size: 10px;"></span>
                    </div>
                    <div class="NavItem">
                        <input type="checkbox" id="p_nego" onclick="getCheckboxValue(event)">가격협의 가능
                        <input type="hidden" id="nego" name="nego" value="0">
                    </div>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label class="text-black">거래방법</label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="NavItem">
                        <input type="radio" name="way" value="직거래" checked>직거래
                    </div>
                    <div class="NavItem">
                        <input type="radio" name="way" value="택배거래">택배거래
                    </div>
                    <span id="valid_p_method" style="color: #ff0000;font-size: 10px;"></span>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label for="p_code" class="text-black">상품코드</label>
                        <span class="text-danger">*</span></div>
                    <div class="NavItem">
                        <input type="text" class="form-control" id="p_code" name="prodCo"
                               placeholder="상품코드가 필요한 물품의 경우 입력해주세요."></div>
                </div>


                <input class="form-control-file" onchange="chk_file_type(this)" type="file" name="file" id="file"
                       accept="image/jpeg,image/gif,image/png"  multiple="multiple"/>
                <div class="NavContainer" style=" display: block;">
                    <div class="NavItemTitle">
                        <label for="file" class="text-black">사진</label>
                        <span class="text-danger">*</span></div>
                    <div class="imgs_wrap NavItem fileGridContainer" id="imgDiv" >
                        <div class="photoContainer" onclick="upload()"><i class="fas fa-camera fa-2x"></i>
                        <span id="fileCount">(0/5)</span>
                        </div>

                        </div>

                </div>
                <span id="photoValue"></span>
                <div class="NavContainer BtnNavContainer">
                    <div class="ButtonNav">
                        <input type="submit" class="btn btn-primary" value="등록하기">
                        <input type="button" class="btn btn-primary" value="취소하기">
                    </div>
                </div>
                <div class="NavContainer PreBtnContainer">
                    <input type="button" class="pre_btn" value="주의사항" onclick="goPre()">
                </div>
            </form>
        </div>
    </div>
</div>
<a id="arrow_up" class="scroll_up" onclick="scroll_up()"> </a>

</div>


<style>

    #file {
        display: none;
    }
    img {
        width: 150px;
        height: 150px;
        margin-left: 1%;
    }

    .imgs_wrap{
        padding:0px;
    }
    .fileGridContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, auto));
        row-gap: 10px;
    }

</style>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/aos.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

<script src="../js/main.js"></script>
<script>

    function getCheckboxValue(event) {
        var result = 0;
        if (event.target.checked) {
            result = 1;
        } else {
            result = 0;
        }
        $('#nego').val(result);
    }

    function Validation() {
        var result = true;

        if ($('#selectedDetail').val() == '') {
            $('#valid_p_category').text("*카테고리는 필수 선택 사항입니다.");
            result = false;
        }

        if ($('#p_title').val() == '') {
            $('#valid_p_title').text("*제목은 필수 입력 사항입니다.");
            result = false;
        }
        if ($('#p_content').val() == '') {
            $('#valid_p_content').text("*내용은 필수 입력 사항입니다.");
            result = false;
        }
        if ($('#p_price').val() == '') {
            $('#valid_p_price').text("*가격은 필수 입력 사항입니다.");
            result = false;
        }
        return result;
    }

    $(function () {
        $('#p_title').keyup(function (e) {
            var p_title = $(this).val();
            $('#title_count').html(p_title.length + '/20');
        });
        $('#p_title').keyup();
    });

    function goPre() {
        pre_modal('주의사항', '확인');
    }

    function upload() {
        $('#file').click();
    }

    /*스크롤 상단 고정*/
    $(function () {
        $("html, body").scrollTop(0);
    });

    /*키 입력시 valid 메세지 삭제*/
    function onKeyUp(props) {
        $(props).text('');
    }
    var fileCount = 0;
    function chk_file_type(obj) {

        var count = 0;
        for (var i = 0; i < obj.files.length; i++) {

            var data = obj.files[i];

            var file_kind = data.name.lastIndexOf('.');
            var file_name = data.name.substring(file_kind + 1, obj.length);
            var file_type = file_name.toLowerCase();

            var check_file_type = ['jpg', 'gif', 'png', 'jpeg'];

            if (check_file_type.indexOf(file_type) == -1) {
                alert('이미지 파일만 선택할 수 있습니다.');
                fileClear(obj);
                break;
            } else {
                count++;
                readImage(count, data);
            }
        }
        ;
        fileCount += count;
        $('#fileCount').text('(' +fileCount+ '/5)')
    }


    function  fileClear(obj) {
        var agent = navigator.userAgent.toLowerCase()

        if ((navigator.appName == 'Netscape'
            && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1)) {
            $(obj).replaceWith($(data).clone(true));
        } else {
            $(obj).val("");
        }
    }

    function imageClear(){
        var imgDiv = $('#imgDiv');
        imgDiv.empty();
    }

    function removeImg(count) {
        $('#img_file'+count).remove();
    }

    function readImage(count, file) {
        var reader = new FileReader();

        var imgDiv = $('#imgDiv')

        reader.onload = function (e) {
            var imgTag = $('<img/>');

            imgTag.attr('id', 'img_file'+count);
            imgTag.attr("src", e.target.result);
            imgDiv.append(imgTag);
        };
        reader.readAsDataURL(file);
    }


</script>

</body>
</html>