<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TIKITAKA &ndash; 상품등록 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div id="modal_overlay">
    <div id="modal_main">
        <h1 id="modal_content"></h1>
        <a id="modal_button" class="btn btn-primary btn-lg" style="color:white;"></a>
    </div>
</div>

<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(product_create)">
        </div>
        <!------------->
        <!--replace-login-------------------------------->

        <nav class="site-navigation text-right text-md-center" role="navigation"
             th:replace="common::menu(product_create)">
        </nav>
        <!----------------------------------------------------------->
    </header>
    <!--replace logo-login-->
    <div class="bg-light py-3" th:replace="common::logo(product_create)">
    </div>
    <!------------------------->
    <div class="site-section margin-top-2"><!--margin class-->
        <div class="container">
            <div class="NavContainer">
                <div class="NavItem">
                    <label>카테고리</label>
                </div>
                <div class="NavItem">

                    <select onchange="categoryChange(this)" name="category"
                            class="form-control border-0 select-category font-14" required>
                        <option class="form-control border-0 font-14" value="" disabled selected>Category</option>
                        <option class="form-control border-0 font-14" value="all">전체</option>
                        <option class="form-control border-0 font-14" value="passion">패션</option>
                        <option class="form-control border-0 font-14" value="digital">디지털/가전</option>
                        <option class="form-control border-0 font-14" value="interior">가구/인테리어</option>
                        <option class="form-control border-0 font-14" value="leisure">여가활동</option>
                        <option class="form-control border-0 font-14" value="else">기타</option>
                        <option class="form-control border-0 font-14" value="buy">삽니다</option>
                    </select>
                </div>
                <div class="NavItem">
                    <select name="detail" id="detail" class="form-control border-0 select-category font-14" required>
                        <option class="form-control border-0 font-14" value="" disabled selected>전체</option>
                    </select>

                </div>
            </div>

            <form name="product_create" action="" method="post" enctype="multipart/form-data">
                <input type="text" id="p_id" th:value="${session.mbrId}">
                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label for="p_title">제목</label></div>
                    <div class="NavItem">
                        <input type="text" id="p_title" name="p_title"></div>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label for="p_content">상세정보</label></div>
                    <div class="NavItem">
                        <input type="texterea" id="p_content" name="p_content"></div>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label for="p_price">가격</label></div>
                    <div class="NavItem">
                        <input type="text" id="p_price" name="p_price"></div>
                    <div class="NavItem">
                        <input type="checkbox">가격협의 가능
                    </div>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label>거래방법</label></div>
                    <div class="NavItem">
                        <input type="radio" name="p_method" value="직거래">직거래
                    </div>
                    <div class="NavItem">
                        <input type="radio" name="p_method" value="택배거래">택배거래
                    </div>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label for="p_code">상품코드</label></div>
                    <div class="NavItem">
                        <input type="text" id="p_code" name="p_code"></div>
                </div>

                <div class="NavContainer">
                    <div class="NavItemTitle">
                        <label for="p_photo">사진</label></div>
                    <div class="NavItem">
                        <input type="file" id="p_photo" accept="image/gif, image/jpeg, image/png"></div>
                </div>
                <div class="NavContainer BtnNavContainer">
                    <div class="ButtonNav">
                        <input type="button" class="btn btn-primary "
                               value="등록하기" onclick="goRegist()">
                        <input type="button" class="btn btn-primary "
                               value="취소하기">
                    </div>
                </div>
                <div class="NavContainer PreBtnContainer">
                    <input type="button" class="pre_btn"
                           value="주의사항" onclick="goPre()">
                </div>
            </form>
        </div>
    </div>
</div>

<a id="arrow_up" class="scroll_up" onclick="scroll_up()"> </a>

<style>

    .NavContainer {
        border: 1px solid blue;
        display: flex;
        box-style: border-box;
        padding: 3%;

    }

    .NavContainer.BtnNavContainer {
        justify-content: center;
    }

    .NavContainer.PreBtnContainer {
        justify-content: flex-end;
    }


    .NavItemTitle {
        color: #000;
        width: 10%;
        border: 1px solid red;
    }

    .NavItem {
        padding: 0 2%;
    }

</style>
</div>

</span>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/aos.js"></script>

<script src="../js/main.js"></script>
<script>
    /*상품등록*/
    function goRegist() {
        alert('regist ok');
          var param = {
                prodNm: $('#p_title').val(), //제품이름
                prodPrc: $('#p_price').val(),//제품가격
                catNo: 22, //카테고리 번호
                selId: $('#p_id').val(), //판매자아이디
                way: "직거래", //거래방법
                prodCo: $('#p_code').val(), //상품번호
                prodView: 0,
            }


            $.ajax({
                url: '/product/create.do',
                data: JSON.stringify(param),
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
            }).done(function (data) {
                if (data.resultCode == 200) {
                    alert(data.resultMsg, '확인', '/');
                } else {
                    alert(data.resultMsg);
                    return false;
                }

            }).fail(function (data, textStatus, errorThrown) {
                console.log(textStatus);
            });
    }

    function goPre(){
        pre_modal('주의사항','확인');
    }

</script>

</body>
</html>