<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TIKITAKA &ndash; 상품조회 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/icon.css">
</head>

<body>

<div id="img_modal">
    <img id="img_modal_content" src="" alt="">
    <a id="img_close_button" onclick="closeModalImg()"><i class="fas fa-times fa-1x"></i></a>

</div>

<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(product_view)">
        </div>
        <!------------->
        <!--replace-login-------------------------------->

        <nav class="site-navigation text-right text-md-center" role="navigation"
             th:replace="common::menu(product_view)">
        </nav>
        <!----------------------------------------------------------->
    </header>
    <!--replace logo-login-->

    <!--모바일 검색창-->
    <div th:replace="common::mobile_search(home)"></div>

    <div class="site-section margin-top-2">
        <div class="col-md-12 mb-0"></div>

        <div class="container">

            <input type="hidden" id="p_id" th:value="${session.mbrId}">
            <input type="hidden" id="prodNo" value="">
            <input type="hidden" id="query" value="">
            <input type="hidden" id="prodNm" value="">
            <input type="hidden" id="prodPrc" value="">
            <input type="hidden" id="catNo" value="">
            <input type="hidden" id="way" value="">
            <input type="hidden" id="nego" value="">
            <input type="hidden" id="prodCo" value="">
            <div class="row align-items-start" style="border-bottom: 1px solid #ddd; padding:0 0 5% 0;">
                <div class="col-12 col-md-6 order-1 order-md-1  text-center">
                    <figure class="block-4-image">
                        <img id="mainDetailImg" src="" alt="Image placeholder" class="img-fluid"
                             style="max-height: 500px;">
                    </figure>
                </div>
                <div class="col-12 col-md-6 order-2 order-md-2  text-left">
                    <div class="aic1" style="border-bottom: 1px solid #dee2e6">
                        <h1 id="detailName"></h1>
                        <div style="display:flex; justify-content: space-between;">
                            <div><h1 id="detailPrice"></h1><span>원</span></div>
                            <span id="wday" class="text-black" text="" style="line-height: 56px;"></span>
                        </div>
                    </div>
                    <div class="aic2">
                        <p>판매자아이디:&nbsp&nbsp<span id="selId"></span></p>
                        <p>거래방법:&nbsp&nbsp<span id="detailWay"></span></p>
                        <p>거래지역:&nbsp&nbsp<span id="detailAddr"></span><a href="///"
                                                                          id="detailMap"><span>지도보기</span></a></p>
                        <p>조회수:&nbsp&nbsp<span id="detailView"></span></p>
                    </div>
                    <div class="aic3 ButtonNav">
                        <input class=" btn btn-primary" id="tradeProd"
                               value="거래하기" onclick="goChat()">
                        <input class="  btn btn-primary" id="updateProd"
                               value="수정하기" onclick="goRegist()">
                        <input class=" btn btn-danger"
                               value="신고하기" onclick="goReport()">
                        <input class=" btn btn-danger" id="deleteProd"
                               value="삭제하기" onclick="removeCheck()">
                        <input type="hidden">
                        <input class="btn btn-dark" id="prodFinish"
                               value="거래완료로 변경" onclick="goProdFinish()">
                    </div>
                </div>
            </div>


            <div class="site-section block-3 site-blocks-2 bg-light">
                <div class="container">
                    <div class="row justify-content-center">
                    </div>
                    <input type="hidden" id="imgCount">
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" nonloop-block-3 owl-carousel">
                                <div class="" data-aos="" data-aos-delay="">
                                    <a class="block-2-item" onclick="goDetailPhoto('.img-fluid1')">
                                        <div class="item">
                                            <div class="block-4 text-center">
                                                <figure class="block-4-image image">
                                                    <img src="" class="img-fluid0 img-fluid1">
                                                </figure>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class=" aos-init aos-animate" data-aos="fade" data-aos-delay="">
                                    <a class="block-2-item" onclick="goDetailPhoto('.img-fluid2')">
                                        <div class="item">
                                            <div class="block-4 text-center">
                                                <figure class="block-4-image image">
                                                    <img src="" class="img-fluid0 img-fluid2">
                                                </figure>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class=" aos-init aos-animate" data-aos="fade" data-aos-delay="">
                                    <a class="block-2-item" onclick="goDetailPhoto('.img-fluid3')">
                                        <div class="item">
                                            <div class="block-4 text-center">
                                                <figure class="block-4-image image">
                                                    <img src="" class="img-fluid0 img-fluid3">
                                                </figure>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class=" aos-init aos-animate" data-aos="fade" data-aos-delay="">
                                    <a class="block-2-item" onclick="goDetailPhoto('.img-fluid4')">
                                        <div class="item">
                                            <div class="block-4 text-center">
                                                <figure class="block-4-image image">
                                                    <img src="" class="img-fluid0 img-fluid4">
                                                </figure>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class=" aos-init aos-animate" data-aos="fade" data-aos-delay="">
                                    <a class="block-2-item" onclick="goDetailPhoto('.img-fluid4')">
                                        <div class="item">
                                            <div class="block-4 text-center">
                                                <figure class="block-4-image image">
                                                    <img src="" class="img-fluid0 img-fluid5">
                                                </figure>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center"
                 style="border-bottom: 1px solid #ddd;  margin:30px 0 10px 0; padding:30px 0 10px 0;">
                <div class="col-12  order-1 order-md-1  text-left">
                    <label for="prodContent">상세정보</label><span
                        class="text-danger">*</span></div>
                <div class="col-12 col-md-12 order-2 order-md-2  text-left">
                    <div class="p_content" style="border: 1px solid #ddd; height: 300px;">
                        <span id="prodContent" class="font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="arrow_up" class="scroll_up" onclick="scroll_up()"> </a>

    <!-- 모바일 메뉴-->
    <div th:replace="common::mobile(detail)"></div>

    <style>

        #detailMap {
            margin: 10px;
        }

        #detailMap > span {
            color: #a88d2c;
        }


        .ButtonNav > .btn {
            border-radius: 2px;
            width: 30%;
            font-weight: normal;
            margin: 1%;
            display: none;
        !important;
            font-size: 16px;
            letter-spacing: 0;
        }

        #detailName {
            color: #000;
            font-size: 20px;
            margin-bottom: 50px;
        }

        #detailPrice {
            color: #000;
            display: inline-block;
        }

        #detailPrice + span {

            font-size: 20px;
            color: #000;
        }

        #selId, #detailWay, #detailAddr, #detailView {
            color: #000;
        }

        .aic1 {
            padding-top: 2%;
        }

        .aic2 {
            padding-top: 2%;
        }

        #prodContent {
            color: #000;
        }

        figure {
            overflow: hidden;
        }

        #img_modal {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.9);
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 20000;
        }

        #img_modal_content {
            background-size: cover;
            max-height: 95%;
            max-width: 95%;
            z-index: 10000;
            position: relative;
        }

        #img_close_button {
            position: absolute;
            z-index: 10001;
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            top: 3%;
            right: 10%;
            cursor: pointer;
        }

        .img-fluid0 {
            display: none;
            border-radius: 5px;
            max-height: 207.5px;
        }

        .btn_finish {
            border-style: none;
            padding: 6px 12px;
            margin: 1%;
            width: 30%;
            background: #ddd;
            color: #000;
            font-weight: normal;
            border-radius: 2px;
            text-align: center;
        }


        p, label {
            font-weight: normal;
        }

    </style>
</div>
</div>
</span>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/aos.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="../js/main.js"></script>
<script>
    $('#loading').css('display', 'block');

    /*멤버정보*/
    function getMemberDetail() {
        var param = {
            userId: $('#selId').text(),
        }
        $.ajax({
            url: '/member/detail',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            console.log("data.memberDetail", data.memberDetail);
            $('#detailAddr').text(data.memberDetail.mbrAddr);

        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });

    }


    /*정보*/
    function getProductDetail() {
        var param = {
            prodNo: $('#query').val(),
        }

        $.ajax({
            url: '/product/detail.do',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            drawPrdList(data);
            console.log("data.dataDetail", data.dataDetail);
            if (data.dataDetail.prodFinish) {
                $('#prodFinish').css('display', 'none');
                $('#updateProd').attr('class', 'btn_finish ');
                $('#updateProd').val('판매완료');
                $('#updateProd').attr('onclick', '').unbind('click');

            }
            getMemberDetail();

        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }

    /*삭제 여부 체크*/
    function removeCheck() {

        if (confirm("정말 삭제하시겠습니까??") == true) {    //확인
            goRemove();
        } else {   //취소
            return false;
        }
    }

    /*삭제*/
    function goRemove() {

        var param = {
            prodNo: $('#query').val(),
            selId: $('#p_id').val()
        }

        $.ajax({
            url: '/product/delete',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            if (data.resultCode == 200) {
                popup('알림메세지', '상품이 삭제되었습니다.');
                location.href = '/member/myinfo'
            } else {
                popup('알림메세지', '삭제에 실패하였습니다. 관리자에게 문의하세요.');
            }
        }).fail(function (textStatus) {
            console.log(textStatus);
        });

    }


    function drawPrdList(data) {
        if (typeof data.dataDetail !== 'undefined') {
            var imgPath = '';

            //이미지경로를 미리 만들어놓는다.
            imgPath = '/istatic/images/' + data.dataDetail.prodNo + '/1.jpg';
            //메인 이미지 html
            $('#mainDetailImg').attr("src", imgPath);
            //디테일 정보들
            $('#selNmLogo').text(data.dataDetail.prodNm);
            $('#detailName').text(data.dataDetail.prodNm);
            $('#detailPrice').text(data.dataDetail.prodPrc);
            $('#selId').text(data.dataDetail.selId);
            $('#detailView').text(data.dataDetail.prodView);
            if (data.dataDetail.selId == $('#p_id').val()) {
                buttonCheck(1);
            } else {
                buttonCheck(0);
            }
            $('#detailWay').text(data.dataDetail.way);
            $('#prodNo').val(data.dataDetail.prodNo);
            $('#prodNm').val(data.dataDetail.prodNm);
            $('#prodPrc').val(data.dataDetail.prodPrc);
            $('#catNo').val(data.dataDetail.catNo);
            $('#way').val(data.dataDetail.way);
            $('#nego').val(data.dataDetail.nego);
            $('#prodCo').val(data.dataDetail.prodCo);
            $('#prodContent').text(data.dataDetail.content);
            $('#imgCount').val(data.dataDetail.imgCount);
            var wday = data.dataDetail.wday;
            $('#wday').text(timeForToday(wday));


            var imgDetailPath = '';
            for (var i = 1; i < data.dataDetail.imgCount + 1; i++) {
                imgDetailPath = '/istatic/images/' + data.dataDetail.prodNo + '/' + i + '.jpg';
                $('.img-fluid' + i).attr("src", imgDetailPath);
                $('.img-fluid' + i).css("display", '');
            }


        }


    }

    function searchParam(key) {
        return new URLSearchParams(location.search).get(key);
    };


    $('#query').val(searchParam('prodNo'));

    function buttonCheck(props) {
        if (props != 1) {
            $('.ButtonNav>input:nth-child(2n-1)').css('display', 'block');
            $('.ButtonNav>a').css('display', 'block');
        } else {
            $('.ButtonNav>input:nth-child(2n)').css('display', 'block');
        }
    }

    function goRegist() {
        var prodNo = $("#query").val();
        var catNo = $('#catNo').val();
        var imgCount = $('#imgCount').val();
        location.href = "/product/update?prodNo=" + prodNo + '&catNo=' + catNo + '&imgCount=' + imgCount;
    }

    function goReport() {
        var prodNo = $("#query").val();
        var selId = $('#selId').text();
        var prodNm = $('#prodNm').val();
        location.href = "/complain/index?prodNo=" + prodNo + '&selId=' + selId + '&prodNm=' + prodNm;
    }


    $(document).ready(function () {
        getProductDetail();
    });

    function goDetailPhoto(i) {
        var imgPath = $(i).attr("src");
        $('#img_modal').css('display', 'flex');
        $('#img_modal').children('img').attr("src", imgPath);

    }

    function closeModalImg() {
        $('#img_modal').css('display', 'none');
    }

    // 거래완료 업데이트
    function goProdFinish() {
        param = {
            prodNo: $('#prodNo').val(),
            selId: $('#p_id').val(),
        }
        $.ajax({
            url: '/product/prodfinish',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            //점수 업데이트
            updatePoint($('#p_id').val());
            popup('알림메세지', '거래가 완료되었습니다.', '/member/myinfo');
        }).fail(function (textStatus) {
            console.log(textStatus);
        });
    }

    //점수 업데이트
    function updatePoint(id) {
        param = {
            userId: id,
        }
        $.ajax({
            url: '/member/update/point',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            console.log(data.resultMsg);
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }


    var newName, n = 0;

    //팝업 창 제목 만들기 함수(다중 팝업을 위한..)
    function newWindow(value) {
        n = n + 1;
        newName = value + n;
    }

    //채팅 버튼 클릭시 채팅방 입장
    function goChat() {   //로그인 여부 확인
        if ($('#p_id').val()){
            prodNo = searchParam('prodNo');
            var top = Math.random() * 100 + 100;
            var left = Math.random() * 100 + 600;
            newWindow("MyWindow");
            window.open('/member/chatting/chat?prodNo=' + prodNo + '&sendId=' + $('#p_id').val() + '&recipientId=' + $('#selId').text(), newName,
                'toolbar=no,location=no,status=no,menubar=no,scrollbars=auto,resizable=no,directories=no,width=400,height=700,top=' + top + ',left=' + left + '');
        }else{
            location.href='/login';
        }
    }

    $('#loading').css('display', 'block');
    $(window).on('load', function () {
        $('#loading').css('display', 'none')
    });


</script>

</body>
</html>