<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TIKITAKA &ndash; 상품등록 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/style.css">


</head>

<body>


<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(product_list)">
        </div>
        <!------------->
        <!--replace-login-------------------------------->

        <nav class="site-navigation text-right text-md-center" role="navigation"
             th:replace="common::menu(product_list)">
        </nav>
        <!----------------------------------------------------------->
    </header>
    <!--replace logo-login-->
    <div class="bg-light py-3" th:replace="common::logo(product_list)">
    </div>
    <!------------------------->
    <div class="site-section block-3 site-blocks-2 bg-light" style="padding-top:10px">
        <div class="container">
            <!--검색바 중간 삽입-->
            <div class="search-bar-container">

                <div class="row align-items-center" style="display: flex; padding-bottom: 10px;">
                    <div class="category col-6 col-md-3 order-1 order-md-1 text-left"
                         style="padding:0; border: 1px solid #ddd;">
                        <select onchange="categoryChange(this)" id="category"
                                class="form-control border-0 select-category font-14" required>
                            <option class="form-control border-0 font-14" value="" disabled selected>메인 카테고리
                            </option>
                            <option class="form-control border-0 font-14" value="passion">패션</option>
                            <option class="form-control border-0 font-14" value="digital">디지털/가전</option>
                            <option class="form-control border-0 font-14" value="interior">가구/인테리어</option>
                            <option class="form-control border-0 font-14" value="leisure">여가활동</option>
                            <option class="form-control border-0 font-14" value="else">기타</option>
                            <option class="form-control border-0 font-14" value="buy">삽니다</option>
                        </select>
                    </div>

                    <div class="category col-6 col-md-3 order-2 order-md-2 text-center"
                         style="padding:0; border: 1px solid #ddd;">
                        <select onchange="categoryChangeDetail(this)" id="detail"
                                class="form-control border-0 select-category font-14" disabled
                                required>
                            <option class="form-control border-0 font-14" id="categoryName" selected>세부
                                카테고리
                            </option>
                        </select>
                    </div>
                    <!--search box div-->
                    <div class="category col-12 col-md-6 order-3 order-md-3 text-right"
                         style="padding:0;border: 1px solid #ddd; ">
                        <div id="form" class="site-block-top-search input-search">
                            <input type="hidden" id="selectedMain" value="">
                            <input type="hidden" id="selectedDetail" value="">
                            <input type="text" class="form-control border-0 input-search" placeholder="Search"
                                   id="prodNm">
                            <span  class="icon icon-search2" ></span>
                        </div>
                    </div>
                </div>



                <!------------------------------------------------------------------------------->
                <div class="gridContainer">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /*이미지리스트 css*/
    .block-4-image {
        margin: 0;
    }

    .block-4-text {
        font-size: 16px;
        color: #000;
    }

    .img-fluid {
        width: 100%;
        height: 193.53px;
    }

    .block-4-text {
        padding: 10px 0;
    }

    .ItemName {
        margin: 0 20px 20px 20px;
        display: flex;
        justify-content: flex-start;
    }
    .ItemName>a {
        text-align: left;
    }
    p {
        margin: 0;
    }

    span {
        font-size: 14px;
        color: #000;
    }

    .priceContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10px 0 20px;
    }

    /*****************/
</style>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/main.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script>

    $('#form').keypress(function(e){
        if(e.keyCode ===13){
            getProductList();
        }
    });

    function getProductList() {
        param = {
            prodNm:$('#prodNm').val(),
            catNo:$('#selectedDetail').val()
        }
        $.ajax({
            url: '/product/list.query',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            drawPrdList(data);
            console.log(data);
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }

    function drawPrdList(data) {
        console.log("@query data",data);
        if (typeof data.dataQueryList!== 'undefined' &&  data.dataQueryList.length > 0) {
            var container = $('.gridContainer');
            container.empty();
            var contents = '';
            var imgPath = '';
            $.each( data.dataQueryList, function (index, obj) {
                console.log("@query data prodNo",obj.prodNo);
                // 매번 컨텐츠가 달라야하니 초기화
                contents = '';
                var wday=obj.wday.substring(0,10);
                //이미지경로를 미리 만들어놓는다.
                imgPath = '/istatic/images/' + obj.prodNo + '/1.jpg';

                //상품 하나 html
                contents += '<div class="gridItem">';
                contents += '    <div class="item">';
                contents += '       <div class="block-4 text-center">';
                contents += '          <a href="#" onclick="goDetail(' + obj.prodNo + ')">';
                contents += '               <figure class="block-4-image">';
                contents += '                    <img src="' + imgPath + '"  alt="Image placeholder"  class="img-fluid" style="width: 100%; height: 193.53px;">';
                contents += '                </figure>';
                contents += '                <div class="block-4-text">';
                contents += '                    <h3 class="ItemName"><a href="#" onclick="goDetail(' + obj.prodNo + ')">' + obj.prodNm + '</a></h3>';
                contents += '                    <div class=priceContent>';
                contents += '                    <p class="text-primary font-weight-bold">' + obj.prodPrc + '</p>';
                contents += '                    <span>' + wday + '</span>';
                contents += '                    </div>';
                contents += '                </div>';
                contents += '            </a>';
                contents += '        </div>';
                contents += '    </div>';
                contents += '</div>';

                //그리드에 삽입
                container.append(contents)
            })

        }

    }

</script>

</body>
</html>