<!DOCTYPE html>
<html lang="en">
<head>
    <title>TIKITAKA - 채팅</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="/https://fonts.gstatic.com">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/icon.css">
</head>
<body>

<div class="site-wrap">
    <header>
        <!--replace 헤더-->
        <div th:replace="common::header(myinfo)">
        </div>
    </header>
    <div class="chattingRoomContainer">
        <div class="chattingRoomTitle padding-top-bottom-5">
            <span class="font-weight-normal font-20 text-black">채팅</span>
        </div>
        <ul class="chattingListNav">

        </ul>
    </div>
    <!--    로딩창-->
    <div class="loading" style="display: none">
        <img id="loading-image" src="/images/ajax-loader.gif" alt="전송중..." />
    </div>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
    }
    header{
       display: none;
    }
    .chattingRoomContainer {
        width: 400px;
        height: 700px;
    }
    .chattingRoomTitle{
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #ecebf5;
        position: sticky;
        top: 0;
        background: #fff;
    }
    .chattingRoomTitle > span{
        font-weight: normal;
        margin-left: 10px;
    }
    .chattingListNav{
        padding: 0;
        margin: 0;
    }
    .chattingListNav > li {
        border-bottom: 1px solid #ecebf5;
        width: 100%;
        height: 80px;
   
    }
    .chatRecipientId{
        font-weight: bold;
        font-size: 18px;
        color: #5e0080;
    }
    .chatAddr,.sendDay{
        font-size: 12px;
        color: #504f4f;
        margin-left: 10px;
        font-weight: normal;
    }
    .sendtime{
        font-size: 11px;
        color: #504f4f;
        margin-left: 1px;
        font-weight: normal;
    }
    .chatImg{
        width: 60px;
        height: 60px;
        border-radius: 5px;
        margin-left: 10px;
    }
    .readCount{
        display: none;
        color: #fff;
        font-weight: bold;
        font-size: 11px;
        border: 1px solid #dc0303;
        border-radius: 50px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        background: #dc0303;
        position: absolute;
        margin-left: -15px;
    }
    .chatRoomMessage{
        font-weight: normal;
        font-size: 16px;
        color: #000;
        height: 24px;
        margin-right: 5px;
    }
    .chatRoom{
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .imgContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .chatRoomContent{
        width: 70%;
        white-space: nowrap;
        overflow: hidden;

    }
</style>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="/js/main.js"></script>
<script>
    /********************** 실행 함수 ********************/


    $(document).ready(function () {
        $('.loading').css('display','block');
    });

    document.addEventListener("DOMContentLoaded", getChatRoomLength);
    setInterval(getChatRoomLength, 100);

    function searchParam(key) {
        return new URLSearchParams(location.search).get(key);
    };

    //로그아웃하면 창 종료
    function autoRefresh_div()
    {
        var currentLocation = window.location;
        $("header").load(currentLocation +"header");
        if($('#login_id').text() != searchParam('sendId')){
            window.close();
        }
    }

    /********************** 데이터 입력 조회 업데이트 ********************/

    //방리스트 업데이트 시점
    var chatRoomLength = 0;
    var allChatCount = 0;
    function getChatRoomLength(){
        param = {
            sendId: searchParam('sendId')
        }
        $.ajax({
            url: '/chat/list/id',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            //1.채팅방 리스트의 길이가 달라짐 -> 새로운 채팅 목록이 생김 -> 방리스트 업데이트
            if(chatRoomLength != data.chatList.length){
                getProdNoRoomNo();
                chatRoomLength = data.chatList.length;
            }else {
                //2. 또는 안읽은 메세지 개수가 바뀌었을 때 -> 새로운 채팅이 왔을 때 -> drawLastChat
                //3. readCount가 바뀌었을 때 -> 상대방이 메세지를 읽었을 때 -> drawReadCount
                var currentAllChatCount =0;
                $.each(data.chatList, function (index, obj) {
                    getReadCount(obj.prodNo,obj.roomNo);
                    currentAllChatCount = currentAllChatCount + obj.chatIdx;
                })
                if (allChatCount != currentAllChatCount){
                    drawLastMessage(data);

                    allChatCount = currentAllChatCount;
                }
            }

        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });

    }

    // 사용자 채팅방 정보 목록
    function getProdNoRoomNo(){
        param = {
            sendId: searchParam('sendId')
        }
        $.ajax({
            url: '/chat/list/id',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            console.log("@@chatListById",data.chatList);
            drawChatRoomList(data);
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }

    //상품 정보 조회
    function getProdDetail(prodNo){
        var param = {
            prodNo: prodNo,
        }

        $.ajax({
            url: '/product/detail.do',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            console.log("data.dataDetail", data.dataDetail);
            drawChatImg(data);

        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }

    // 상대방 정보 조회
    function getMbrDetail(mbrId)
       {
            param = {
                userId: mbrId,
            }
            $.ajax({
                url: '/member/detail',
                data: param,
                type: 'post',
                dataType: 'json'
            }).done(function (data) {
                console.log("@@memberDetail",data.memberDetail)
                drawAddr(data)
            }).fail(function (data, textStatus, errorThrown) {
                console.log(textStatus);
            });
    }

    //안읽은 메세지 개수 조회
    function getReadCount(prodNo,roomNo){
        param = {
            prodNo:prodNo,
            roomNo:roomNo,
            loginId:$('#login_id').text()
        }
        $.ajax({
            url: '/chat/readCount',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            drawReadCount(data, prodNo, roomNo);
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }


    /********************** html 그리기 ********************/
    //채팅 목록 그리기
    function drawChatRoomList(data) {
        var container = $('.chattingListNav');
        if (typeof data.chatList !== 'undefined' && data.chatList.length > 0) {
            container.empty();
            var contents = '';
            var mbrId;
            var lastSendTime;
            $.each(data.chatList, function (index, obj) {
                var year = obj.sendtime.substring(0, 4);
                var month = obj.sendtime.substring(5, 7);
                var day = obj.sendtime.substring(8, 10);
                var date = year + '년' + ' ' + month + '월' + day + '' + '일';
                var hour = obj.sendtime.substring(11, 13);
                var minute = obj.sendtime.substring(14, 16);
                var second = obj.sendtime.substring(17, 19);
                var sendDay = month + '/'+ day;
                var sendTime = hour + ':' + '' + minute;
                var objTime= year+month+day+hour+minute+second;
                //상품 정보 조회
                // 매번 컨텐츠가 달라야하니 초기화
                // 채팅목록 그리면서 readCount 조회 -> 각각의 prodNo, roomNo 넘겨줌
                    getReadCount(obj.prodNo,obj.roomNo);
                contents = '';
                //상품 하나 html
                contents += '<li class="chatRoom" onclick="goChat('+obj.prodNo+','+obj.roomNo+');">';
                contents += '<div class="chatRoomContent">';
                    contents += '<div>';
                if(obj.sendId == searchParam('sendId')){
                    contents += '    <span class="chatRecipientId">' +obj.recipientId + '</span>';
                    contents += '    <span class="chatAddr addrName'+obj.recipientId+'"></span>';
                    mbrId=obj.recipientId;

                }else{
                    contents += '    <span class="chatRecipientId">' +obj.sendId + '</span>';
                    contents += '    <span class="chatAddr addrName'+obj.sendId+'"></span>';
                    mbrId=obj.sendId;
                }
                contents += '    <span class=" sendDay">'+sendDay+'</span>';
                contents +='</div>';
                contents +='<div style="display: flex; align-items: flex-end;">';
                contents += '    <span class="chatRoomMessage chatRoomMessage'+obj.prodNo+'-'+obj.roomNo+'"></span>';
                contents += '    <span class="sendtime">'+sendTime+ '</span>';
                contents +='</div>';
                contents +='</div>';

                contents +='<div class="imgContainer">';
                contents += '    <span class="readCount readCount' + obj.prodNo + '-' + obj.roomNo+'"></span>';
                contents += '    <img class="chatImg imgNo'+obj.prodNo+'" src="" alt="">';
                contents +='</div>';
                contents += '</li>';

                //그리드에 삽입
                container.append(contents)
                getProdDetail(obj.prodNo);
                getMbrDetail(mbrId);
            })
        } else {
            container.empty();
            contents = '<span>채팅 목록이 없습습니다.</span>';
            container.append(contents);
        }
         $('.loading').css('display','none');

    }

    //채팅 목록 마지막 메세지 그리기
    function drawLastMessage(data) {
            $.each(data.chatList, function (index, obj) {
                var year = obj.sendtime.substring(0, 4);
                var month = obj.sendtime.substring(5, 7);
                var day = obj.sendtime.substring(8, 10);
                var date = year + '년' + ' ' + month + '월' + day + '' + '일';
                var hour = obj.sendtime.substring(11, 13);
                var minute = obj.sendtime.substring(14, 16);
                var second = obj.sendtime.substring(17, 19);
                var sendtime = year+month+day+hour+minute+second;
                console.log("objMassageSendTime",sendtime);
              $('.chatRoomMessage'+obj.prodNo+'-'+obj.roomNo).text(textLengthOverCut(obj.content, 14 , '...'));
            })
        $('#chatRoomLength').val(data.chatList.length);

    }

    //상품 이미지 그리기
    function drawChatImg(data) {
        if (typeof data.dataDetail !== 'undefined') {
            var imgPath = '';
            //이미지경로를 미리 만들어놓는다.
            imgPath = '/istatic/images/' + data.dataDetail.prodNo + '/1.jpg';
            //메인 이미지 html
            $('.imgNo'+ data.dataDetail.prodNo).attr("src", imgPath);
            //디테일 정보들

        }
    }

    //안읽은 메세지 그리기
    function drawReadCount(data,prodNo,roomNo) {
        if(data.readCount !=0) {
            $('.readCount' + prodNo + '-' + roomNo).css('display','unset');
            $('.readCount' + prodNo + '-' + roomNo).text(data.readCount);
        }else{
            $('.readCount' + prodNo + '-' + roomNo).css('display','none');
            $('.readCount' + prodNo + '-' + roomNo).text('');
        }
    }

    //주소그리기
    function drawAddr(data) {
        if (typeof data.memberDetail !== 'undefined') {
            //메인 이미지 html
            var address = new Array();
            address = data.memberDetail.mbrAddr.split(" ");
            var mbrAddr = [2];
            for(var i=1;i<3;i++){
                mbrAddr[i-1]=address[i];
            }
            var mbrAddress = mbrAddr[0] +' '+ mbrAddr[1];

            $('.addrName'+ data.memberDetail.mbrId).text(mbrAddress);
            //디테일 정보들

        }
    }

    var newName, n=0;

    //팝업 창 제목 만들기 함수(다중 팝업을 위한..)
    function newWindow(value)
    {
        n = n + 1;
        newName = value + n;
    }

    //팝업창 조절 제한
    function popResizer() {
        window.resizeTo(400,700);
    };
    popResizer();
    $(window).resize(popResizer);


    function goChat(prodNo,roomNo)
    {
        var sendId = searchParam('sendId');
        var top = Math.random()*100 + 100;
        var left = Math.random()*100 + 600;
        newWindow("MyWindow");
        window.open('/member/chatting/chat?prodNo='+prodNo+'&sendId='+sendId+'&roomNo='+roomNo+'', newName,
            'toolbar=no,location=no,status=no,menubar=no,scrollbars=auto,resizable=no,directories=no,width=400,height=700,top='+top+',left='+left+'');
    }

</script>
</body>
</html>