<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--공통 헤더-->
<div class="site-navbar-top" th:fragment="header(header)"> <!--padding 수정 style-196-->
    <div class="container">
        <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left"></div>
            <!--원래 검색바 수정-->

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                <div class="site-logo" >
                    <a href="#" class="js-logo-clone"  >tikitaka</a><!--로고크기 style-202-->
                </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                <!--메뉴 padding 수정-style-260-->
                <div class="site-top-icons"> <!--버튼 사이즈 수정 style-218-->
                    <ul>
                        <!--로그인 하기 전-->
                        <li><a href="signup" > <span class="sign up"  th:text="${header}=='home'? '회원가입' : '' "></span></a></li><!--회원가입-->
                        <li><a th:text="${header}=='home' ? '/&nbsp' : '' "></a></li>
                        <li><a href="login" ><span class="sign in"  th:text="${header}=='home'? '로그인' : '' "></span></a></li> <!--로그인-->
                        <!--로그인 했을 때
                        <li><a href="#"><span class="icon icon-person"></span></a></li>
                      <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                      <li>
                        <a href="cart.html" class="site-cart">
                          <span class="icon icon-shopping_cart"></span>
                          <span class="count">0</span>
                        </a>
                      </li> -->
                        <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                        <!--js-menu toggle-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->

<!--공통 menu-->
<nav class="site-navigation text-right text-md-center" role="navigation" th:fragment="menu(menu)"><!--메뉴 간격 수정 style-273-->
    <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block" >
            <li th:classappend="${menu}=='home'? 'active' : ''"><a href="/" >Home</a></li>
            <li th:classappend="${menu}=='menu1'? 'active' : ''"><a href="menu1 ">상품</a></li>
            <li th:classappend="${menu}=='menu2'? 'active' : ''"><a href="#">상품2</a></li>
            <li th:classappend="${menu}=='menu3'? 'active' : ''"><a href="#">경매</a></li>
            <li th:classappend="${menu}=='menu4'? 'active' : ''"><a href="#">채팅</a></li>
            <li th:classappend="${menu}=='menu5'? 'active' : ''"><a href="#">내정보</a></li>
        </ul>
    </div>
</nav>
<!---------------->

<!--공통 logo-->
<div class="bg-light py-3" th:fragment="logo(logo)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> /</span>
                <span class="text-black" th:text="${logo}=='login'? 'Login' : '' "></span>
                <span class="text-black font-14" th:text="${logo}=='signup'? '회원가입' :'' "></span>
                <span class="text-black font-14" th:text="${logo}=='findid'? '아이디찾기' : '' "></span> <!--폰트추가-->
                <span class="text-black font-14" th:text="${logo}=='findpwd'? '비밀번호찾기' :'' "></span>
                <span class="text-black" th:text="${logo}=='menu1'? 'menu1' :'' "></span>
            </div>
        </div>
    </div>
</div>
<!-------------------->
</html>