<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tiki.product.mapper.ChatMapper">

    <sql id="chatColumns">
        chat_idx
        , room_no
		, prod_no
		, send_id
		, recipient_id
		, content
        , sendtime
    </sql>

    <insert id="insertChat" parameterType="ChatDTO">
        INSERT INTO chat (
                         room_no
                         , prod_no
                         , send_id
                         , recipient_id
                         , content
        ) VALUES (
                  #{roomNo}
        , #{prodNo}
        , #{sendId}
        , #{recipientId}
        , #{content}
        )
    </insert>

    <select id="findRoomNoSendId" parameterType="ChatDTO" resultType="Integer">
        SELECT DISTINCT room_no
        FROM prod as p JOIN chat as c ON p.prod_no = c.prod_no
        WHERE
            (
                (c.send_id = #{sendId} AND c.recipient_id = #{recipientId})
                OR
                (c.send_id = #{recipientId} AND c.recipient_id = #{sendId})
            )
        AND
            prod_no = #{prodNo}
    </select>

    <select id="selectAllChat" parameterType="ChatDTO" resultType="ChatDTO">
        SELECT
            <include refid="productColumns" />
        FROM
            chat
        WHERE
            prod_no = #{prodNo}
        AND
            room_no = #{roomNo}
        ORDER BY
            sendtime ASC
    </select>

    <select id="selectChatDetail" parameterType="int" resultType="ChatDTO">
        SELECT
            <include refid="productColumns" />
        FROM
            chat
        WHERE
            chat_idx = #{chatIdx}
    </select>

</mapper>