<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tiki.product.mapper.ChatMapper">

    <sql id="chatColumns">
        chat_idx
        , room_no
		, prod_no
		, send_id
		, recipient_id
		, content
        , sendtime
    </sql>

    <insert id="insertChat" parameterType="ChatDTO">
        INSERT INTO chat (
                         room_no
                         , prod_no
                         , send_id
                         , recipient_id
                         , content
                         ,sendtime
        ) VALUES (
                  #{roomNo}
        , #{prodNo}
        , #{sendId}
        , #{recipientId}
        , #{content}
        , NOW()
        )
    </insert>

    <select id="findRoomNoSendId" parameterType="ChatDTO" resultType="Integer">
        SELECT DISTINCT room_no
        FROM chat
        WHERE
            (
                (send_id = #{sendId} AND recipient_id = #{recipientId})
                OR
                (send_id = #{recipientId} AND recipient_id = #{sendId})
            )
        AND
            prod_no = #{prodNo}
    </select>

    <select id="selectAllChat" parameterType="ChatDTO" resultType="ChatDTO">
        SELECT
            <include refid="chatColumns" />
        FROM
            chat
        WHERE
            prod_no = #{prodNo}
        AND
            room_no = #{roomNo}
        ORDER BY
            sendtime ASC
    </select>

    <select id="selectChatDetail" parameterType="int" resultType="ChatDTO">
        SELECT
            <include refid="chatColumns" />
        FROM
            chat
        WHERE
            chat_idx = #{chatIdx}
    </select>

    <select id="selectExistChatList" parameterType="String" resultType="ChatDTO">
        SELECT
            <include refid="chatColumns" />
        FROM
        (
            SELECT
                <include refid="chatColumns" />
            FROM
                chat
            WHERE
                send_id = #{sendId}
            OR
                recipient_id = #{sendId}
            ORDER BY
                chat_idx DESC
            LIMIT 18446744073709551615
        ) AS c
        GROUP BY
            prod_no, room_no
        ORDER BY
            sendtime DESC
    </select>

    <select id="selectChatTotalCount" parameterType="ChatDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            chat
        WHERE
            send_id = #{sendId}
           OR
            recipient_id = #{sendId}
    </select>

</mapper>