<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tiki.product.mapper.ProductMapper">

    <sql id="productColumns">
        prod_no
        , prod_nm
		, prod_prc
		, cat_no
		, sel_id
		, way
        , nego
		, wday
        , prod_co
		, prod_view
        , content
        , img_count
       , prod_finish
    </sql>

    <insert id="insertProduct" parameterType="ProductDTO">
        INSERT INTO prod (
                           prod_nm,
                           prod_prc
                         , cat_no
                         , sel_id
                         , way
                         , nego
                         , wday
                         , prod_co
                         , content
                         , img_count
        ) VALUES (
                  #{prodNm},
        #{prodPrc}
        , #{catNo}
        , #{selId}
        , #{way}
        , #{nego}
        , NOW()
        , #{prodCo}
        , #{content}
        , #{imgCount}
        )
    </insert>

    <select id="selectProductDetail" parameterType="int" resultType="ProductDTO">
        SELECT
            <include refid="productColumns" />
        FROM
            prod
        WHERE
            prod_no = #{prodNo}
    </select>

    <update id="updateView" parameterType="int">
        UPDATE
            prod
        SET
            prod_view = prod_view + 1
        WHERE
            prod_no = #{prodNo}
    </update>

    <update id="updateProduct" parameterType="ProductDTO">
        UPDATE
            prod
        SET
            wday = NOW()
          , prod_nm = #{prodNm}
          , prod_prc = #{prodPrc}
          , cat_no = #{catNo}
          , way = #{way}
          , nego = #{nego}
          , prod_co = #{prodCo}
          , content = #{content}
        WHERE
            prod_no = #{prodNo}
        AND
            sel_id = #{selId}
    </update>

    <update id="updateProductFinish" parameterType="ProductDTO">
        UPDATE
            prod
        SET
            prod_finish = true
        where
            prod_no = #{prodNo}
        AND
            sel_id = #{selId}
    </update>

    <update id="deleteProduct" parameterType="ProductDTO">
        DELETE
        FROM
            prod
        WHERE
            prod_no = #{prodNo}
        AND
            sel_id = #{selId}
    </update>

    <select id="selectProductList" parameterType="ProductDTO" resultType="ProductDTO">
        SELECT
            <include refid="productColumns" />
        FROM
            prod
        WHERE NOT
            prod_finish = true
        ORDER BY
            wday DESC
    </select>

    <select id="resultByNmCat" parameterType="ProductDTO" resultType="ProductDTO">
        SELECT
            <include refid="productColumns" />
        FROM
            prod
        WHERE
            prod_nm LIKE concat('%',#{prodNm},'%')
        AND
            cat_no BETWEEN #{catNo} AND #{nego}
        ORDER BY
        wday DESC
    </select>

    <select id="resultByProdNm" parameterType="String" resultType="ProductDTO">
        SELECT
        <include refid="productColumns" />
        FROM
        prod
        WHERE
        prod_nm LIKE concat('%',#{prodNm},'%')
        ORDER BY
        wday DESC
    </select>

    <select id="resultById" parameterType="String" resultType="ProductDTO">
        SELECT
        <include refid="productColumns" />
        FROM
        prod
        WHERE
        sel_id = #{selId}
        ORDER BY
        wday DESC
    </select>

    <select id="resultByCatNo" parameterType="int" resultType="ProductDTO">
        SELECT
            <include refid="productColumns" />
        FROM
            prod
        WHERE
            cat_no BETWEEN #{firstNo} AND #{lastNo}
        ORDER BY
            wday DESC
    </select>

    <select id="selectProductTotalCount" parameterType="ProductDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            prod
    </select>

    <select id="selectProductNo" parameterType="ProductDTO" resultType="int">
        SELECT
            prod_no
        FROM
            prod
        WHERE
            sel_id = #{selId}
        AND
            cat_no = #{catNo}
        AND
            prod_nm = #{prodNm}
        AND
            way=#{way}

    </select>

</mapper>