<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head >
    <title>TIKITAKA &ndash; 비밀번호찾기 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="modal_overlay">
    <div id="modal_main">
        <h1 id="modal_content"></h1>
        <a id="modal_button" class="btn btn-primary btn-lg" href=""></a>
    </div>
</div>

<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(findpwd)">
        </div>
        <!------------->
        <!--replace-signin---------------------------------->
        <nav class="site-navigation text-right text-md-center" role="navigation" th:replace="common::menu(findpwd)">
        </nav>
        <!---------------------------------------------------------->
    </header>

    <!--replace-logo-비번찾기-->
    <div class="bg-light py-3" th:replace="common::logo(findpwd)">
    </div>
    <!------------------------>
    <div id="Find" class="site-section margin-top-2" style="display: block;">
        <div class="container" >
            <div class="row justify-content-center"><!--justify-content-center 추가-->

                <div class="col-md-7"  >
                    <div class="col-md-12 " >
                        <h2 class="h3 mb-3 text-black  " >비밀번호 찾기</h2> <!--login logo 위치 수정-->
                    </div>
                    <form  method="get">

                        <div class="p-3 p-lg-5 border">

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_name" class="text-black">이름<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_name" name="c_name" placeholder="" required onkeyup="onKeyUp('#valid_name');">
                                    <span id="valid_name" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_id" class="text-black">id<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_id" name="c_id" placeholder="" required onkeyup="onKeyUp('#valid_id');">
                                    <span id="valid_id" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_phone" class="text-black">전화번호 <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_phone" name="c_phone" value="010-"
                                           required pattern="[0-1]{2,3}-[0-9]{3,4}-[0-9]{3,4}"
                                           maxlength="13" onkeyup="onKeyUp('#valid_phone');">
                                    <span id="valid_phone" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <span id="valid_findError" style="color: #ff0000;font-size: 10px;"></span>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <input type="button" class="btn btn-primary btn-lg btn-block" value="다음"  onclick="goFindpwd()">
                                </div>
                            </div>

                            <div class="site-navbar row justify-content-end " role="banner">
                                <!-- row, justify-content-end class 추가-->

                                <div class="site-top-icons ">
                                    <ul >

                                        <li><a href="login"><span class="sign in">로그인페이지</span></a></li>
                                        <!--로그인-->
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="Update" class="site-section margin-top-2" style="display:none" >
    <div class="container" >
        <div class="row justify-content-center"><!--justify-content-center 추가-->

            <div class="col-md-7"  >
                <div class="col-md-12 " >
                    <h2 class="h3 mb-3 text-black  " >비밀번호 변경</h2> <!--login logo 위치 수정-->
                </div>
                <form action="" method="post">

                    <div class="p-3 p-lg-5 border">

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_password" class="text-black">새로운 비밀번호<span class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="c_password" name="c_password" required onkeyup="onKeyUp('#valid_password');">
                                <span id="valid_password" style="color: #ff0000;font-size: 10px;"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_pwd_re" class="text-black">비밀번호 확인<span class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="c_pwd_re" name="c_pwd_re" required onkeyup="onKeyUp('#valid_password_c');">
                                <span id="valid_password_c" style="color: #ff0000;font-size: 10px;"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-12">
                                <input id="loginConfirm" type="button" class="btn btn-primary btn-lg btn-block" value="비밀번호 변경" onclick="goUpdate()">
                            </div>
                        </div>
                        <div class="site-navbar row justify-content-end " role="banner">
                            <!-- row, justify-content-end class 추가-->

                            <div class="site-top-icons ">
                                <ul>
                                    <li><a href="login"> <span class="sign up">로그인페이지</span></a></li>
                                    <!--회원가입-->
                                </ul>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>



<script>

    /*비밀번호찾기*/
    function goFindpwd(){
        $('#valid_findError').text('');
        if(validation()) {
            var param ={
                userId : document.querySelector('#c_id').value,
                userName : document.querySelector('#c_name').value,
                userPhone : document.querySelector('#c_phone').value
            };
            $.ajax({
                url: "/login/findpwd",
                data: param,
                type: 'get',
                contentType:"application/json;charset=UTF-8",
                dataType : 'json',
            }).done(function(data){
                if(data.resultCode == 200) {
                    location.href='/updatepwd';
                }else {
                    $('#valid_findError').text(data.resultMsg);
                    return false;
                }
            }).fail(function (data, textStatus, errorThrown){
                console.log(textStatus);
                alert("ajax fail");
            });

        }
    }

    /*숫자, 하이픈 자동 입력*/
    function initEvent() {

        $('#c_phone').on('keyup', function (event) {
            this.value = autoHypenPhone(this.value);
        });

    }

    /*키 입력시 valid 메세지 삭제*/
    $(document).ready(function(){
        initEvent();
    });
    function onKeyUp(props){
        $(props).text('');
    }

    /*input valid 유효성*/
    function validation() {
        var result = true;

        $('#valid_name').text('');
        $('#valid_id').text('');
        $('#valid_phone').text('');
        document.querySelectorAll("input").forEach(input => {
            var inValue = input.value;

            if(input.id == 'c_name' && !CheckName(inValue)) {
                document.forms[0].classList.add("was-validated");
                $('#valid_name').text('* 이름를 정확히 입력해주세요');
                result= false;
            }else if($('#valid_name').text()=='') {
                if (input.id == 'c_id' && (inValue == '' || $.trim(inValue).length == 0)) {
                    document.forms[0].classList.add("was-validated");
                    $('#valid_id').text('* 아이디를 입력해주세요');
                    result = false;
                } else if ($('#valid_id').text() == '') {
                    if (input.id == 'c_phone' && (inValue == '' || $.trim(inValue).length != 13)) {
                        document.forms[0].classList.add("was-validated");
                        $('#valid_phone').text('* 전화번호를 정확히 입력해주세요');
                        result = false;
                    }
                }
            }

        });
        return result;
    }


</script>
</body>
</html>