
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head >
    <title>TIKITAKA &ndash; 로그인 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/icon.css">
</head>

<body>
<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(login)">
        </div>
        <!------------->
        <!--replace-login-------------------------------->
        <nav class="site-navigation text-right text-md-center" role="navigation" th:replace="common::menu(login)">
        </nav>
        <!----------------------------------------------------------->
    </header>

    <!--모바일 검색창-->
    <div th:replace="common::mobile_search(login)"></div>


    <!--replace logo-login-->
<!--    <div class="bg-light py-3" th:replace="common::logo(login)">-->
<!--    </div>-->


    <div class="site-section margin-top-2"><!--margin class-->
        <div class="container">
            <div class="row justify-content-center"><!--justify-content-center 추가-->
                <div class="col-md-7">
                    <div class="col-md-12 " style="display: flex; justify-content: space-between; align-items:flex-end;" >
                        <h2 class="h3 mb-3 text-black"><span id="login"/>Login</span></h2> <!--login logo 위치 수정-->
                        <a id="admin"style="font-size: 14px; color:#7972ea; cursor: pointer;">
                            <span id="cont" onclick="adminCheck()" style="margin-right:5px;">
                                관리자로그인</span><i class="fas fa-chevron-right fa-1x font-weight-normal" style="width: 7px;"></i></a>
                    </div>

                    <form name="loginform" action="login" method="post">

                        <div class="p-3 p-lg-5 border">

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_id" class="text-black">id<span
                                            class="text-danger">*</span></label>
                                    <input type="hidden" id="checkAdmin" name="checkAdmin" value="">
                                    <input type="text"  class="form-control"
                                           id="c_id" name="c_id" required onkeyup="onKeyUp('#valid_id'); enterkey(goLogin);">
                                    <span id="valid_id" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_password" class="text-black">password <span
                                            class="text-danger">*</span></label>
                                    <input type="password" class="form-control" id="c_password" name="c_password"
                                           required onkeyup="onKeyUp('#valid_pw'); enterkey(goLogin);" >
                                    <span id="valid_pw" style="color: red;font-size: 10px;"></span>
                                </div>
                            </div>

                            <span id="valid_loginError" style="color: #ff0000;font-size: 10px;"></span>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <input  type="button" class="btn btn-primary btn-lg btn-block"
                                            value="LogIn" onclick="goLogin()">
                                </div>
                            </div>

                            <div class="site-navbar row justify-content-end " role="banner">
                                <!-- row, justify-content-end class 추가-->
                                <div class="site-top-icons ">
                                    <ul id="signin">
                                        <li><a href="signup"> <span class="sign in font-weight-normal">회원가입</span></a></li>
                                        <!--회원가입-->
                                        /&nbsp&nbsp
                                        <li><a href="findid"><span class="sign in font-weight-normal">아이디찾기</span></a></li>
                                        <!--아이디찾기-->
                                        /&nbsp&nbsp
                                        <li><a href="findpwd"><span class="sign in font-weight-normal">비밀번호찾기</span></a></li>
                                        <!--비밀번호찾기-->
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="js/main.js"></script>
<script>
    $(document).ready(function () {
        getProductList();
        mobileSiteTop('home');
    });

    function searchParam(key) {
        return new URLSearchParams(location.search).get(key);
    };

    /*로그인*/
    function goLogin(){
        $('#valid_loginError').text('');
        if($('#checkAdmin').val()!=''){
            //관리자로그인
            if (validation()) {
                var param = {
                    manId: $('#c_id').val(),
                    manPwd: $('#c_password').val(),
                };
                $.ajax({
                    url: '/login/manager/process',
                    data: param,
                    type: 'post',
                    dataType: 'json'
                }).done(function (data) {
                    if (data.resultCode == 200) {
                        location.href = '/admin/complain/list';
                    } else {
                        popup('알림메세지','아이디 및 비밀번호 오류')
                        return false;
                    }

                }).fail(function (data, textStatus, errorThrown) {
                    console.log(textStatus);
                });
            }
        }else {
            if (validation()) {
                var param = {
                    userId: $('#c_id').val(),
                    userPw: $('#c_password').val(),
                };

                $.ajax({
                    url: '/login/process',
                    data: param,
                    type: 'post',
                    dataType: 'json'
                }).done(function (data) {
                    if (data.resultCode == 200) {
                            window.location=document.referrer;
                    } else {
                        $('#valid_loginError').text('* 가입하지 않은 아이디이거나, 잘못된 비밀번호입니다.');
                        return false;
                    }

                }).fail(function (data, textStatus, errorThrown) {
                    console.log(textStatus);
                });
            }
        }
    }

    /*키 입력시 valid 메세지 삭제*/
    function onKeyUp(props){
        $(props).text('');
        $(props).val('');
    }

    /*input valid 유효성*/
    function validation() {
        var result = true;
        $('#valid_loginError').text('');
        $('#valid_id').text('');
        $('#valid_pw').text('');
        var cid = $('#c_id').val();
        var cpassword = $('#c_password').val();
        if(cid == '' || $.trim(cid).length == 0) {
            document.forms[0].classList.add("was-validated");
            $('#valid_id').text('* 아이디를 입력해주세요');
            result= false;
        } else if ($('#valid_id').text() == '') {
            if(cpassword == '' || $.trim(cpassword).length == 0){
                $('#valid_pw').text('* 패스워드를 입력해주세요');
                result = false;
            }
        };
        return result;
    }



    /*관리자 로그인*/

    function adminCheck() {
        if($('#checkAdmin').val()=='') {
            $('#login').text('Admin');
            $('#checkAdmin').val('admin');
            $('#cont').text('사용자로그인');
            $('#valid_id').text('');
            $('#valid_pw').text('');
            $('#signin').css('display', 'none');
            onKeyUp('#c_id');
            onKeyUp('#c_password');

        }else{
            $('#login').text('Login');
            $('#checkAdmin').val('');
            $('#cont').text('관리자로그인');
            $('#valid_id').text('');
            $('#valid_pw').text('');
            $('#signin').css('display', 'block');
            onKeyUp('#c_id');
            onKeyUp('#c_password');
        }
    }

</script>

</body>
</html>
