<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TIKITAKA &ndash; 내 정보 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(myinfo)">
        </div>
        <!------------->
        <!--replace-login-------------------------------->
        <nav class="site-navigation text-right text-md-center" role="navigation" th:replace="common::menu(myinfo)">
        </nav>
        <!----------------------------------------------------------->
    </header>

    <!--replace logo-login-->

    <div class="bg-light py-3" th:replace="common::logo(myinfo)">
    </div>
    <!------------------------->
    <div class="site-section margin-top-2"><!--margin class-->
        <div class="container">
            <h1>내정보</h1>
            <span><a href="">수정하기</a></span>
            <span><a href="">삭제</a></span>
        </div>
    </div>


</div>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/aos.js"></script>

<script src="../js/main.js"></script>
<script>


</script>

</body>
</html>