<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head >
    <title>TIKITAKA &ndash; 회원가입 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="modal_overlay">
    <div id="modal_main">
        <h1 id="modal_content"></h1>
        <a id="modal_button" class="btn btn-primary btn-lg" href=""></a>
    </div>
</div>

<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(signup)">
        </div>
        <!------------->
        <!--replace-menu-signin---------------------------------->
        <nav class="site-navigation text-right text-md-center" role="navigation" th:replace="common::menu(sigiup)">
        </nav>
        <!---------------------------------------------------------->
    </header>

    <!--모바일 검색창-->
    <div th:replace="common::mobile_search(signup)"></div>


    <!--replace logo-회원가입-->
    <div class="bg-light py-3" th:replace="common::logo(signup)">
    </div>
    <!----------------------->
    <div class="site-section margin-top-2" >
        <div class="container" >
            <div class="row justify-content-center"><!--justify-content-center 추가-->

                <div class="col-md-7"  >
                    <div class="col-md-12 " >
                        <h2 class="h3 mb-3 text-black  " >회원가입</h2> <!--login logo 위치 수정-->
                    </div>
                    <form action="" method="post">

                        <div class="p-3 p-lg-5 border">

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_name" class="text-black">이름<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_name" name="c_name" required onkeyup="onKeyUp('#valid_name');" >
                                    <span id="valid_name" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_id" class="text-black">Id <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_id" name="c_id"   required onkeyup="onKeyUp('#valid_id');">
                                    <span id="valid_id" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_phone" class="text-black">전화번호 <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_phone" name="c_phone" value="010-"
                                           required pattern="[0-1]{2,3}-[0-9]{3,4}-[0-9]{3,4}"
                                           maxlength="13" onkeyup="onKeyUp('#valid_phone');">
                                    <span id="valid_phone" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_email" class="text-black">Email <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_email" name="c_email" required placeholder="ex) abc@naver.com"
                                           onkeyup="onKeyUp('#valid_email');">
                                    <span id="valid_email" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <span id="valid_infoCheck" style="color: #ff0000;font-size: 10px;"></span>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="id_check" class="text-black"><span class="text-danger" style="opacity: 0">*</span></label>
                                    <input type="hidden" id="isCheckedId" name="isCheckedId" value="">
                                    <input type="hidden" id="isCheckedPhone" name="isCheckedPhone" value="">
                                    <input type="hidden" id="isCheckedEmail" name="isCheckedEmail" value="">

                                    <input type="button" class="form-control btn btn-primary btn-lg btn-block" id="id_check" name="id_check"
                                           value="중복 확인&nbsp;"
                                           required onclick="goIdCheck();"
                                    ><br/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_bday" class="text-black">생년월일 <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_bday" name="c_bday"
                                           required pattern="[0-9]{6}" placeholder="ex) 901225"
                                           maxlength="6" onkeyup="onKeyUp('#valid_bday');">
                                    <span id="valid_bday" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="c_post" class="text-black">주소<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_post" name="c_post" placeholder="우편번호"
                                           required readonly >&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-6">
                                    <label  class="text-black"><span class="text-danger" style="opacity: 0">*</span></label>
                                    <input type="button" class="form-control btn btn-primary btn-lg btn-block" value="우편번호 찾기&nbsp;"
                                           required onclick="sample2_execDaumPostcode()"><br/>
                                </div>
                            </div>
                            <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch; border-radius: 5px;">
                                <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="border-radius:5px;
                                cursor:pointer;position:absolute;right:0px;top:0px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
                            </div>
                            <div class="form-group row">
                                <div  class="col-md-12">
                                    <input type="text" class="form-control" id="c_addr" name="c_addr" required placeholder="주소" readonly onkeyup="onKeyUp('#valid_addr');">
                                    <span id="valid_addr" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_password" class="text-black">비밀번호<span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" id="c_password" name="c_password" required onkeyup="onKeyUp('#valid_password');">
                                    <span id="valid_password" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_pwd_re" class="text-black">비밀번호 확인<span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" id="c_pwd_re" name="c_pwd_re" required onkeyup="onKeyUp('#valid_password_c');">
                                    <span id="valid_password_c" style="color: #ff0000;font-size: 10px;"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <input id="loginConfirm" type="button" class="btn btn-primary btn-lg btn-block" value="가입하기" onclick="goSignup()">
                                </div>
                            </div>
                            <div class="site-navbar row justify-content-end " role="banner">
                                <!-- row, justify-content-end class 추가-->

                                <div class="site-top-icons ">
                                    <ul>
                                        <li><a href="login"> <span class="sign up">로그인페이지</span></a></li>
                                        <!--회원가입-->
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


</div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>


    /*숫자 하이픈 자동*/
    function initEvent() {
        $('#c_phone').on('keyup', function (event) {
            this.value = autoHypenPhone(this.value);
        });
        $('#c_bday').on('keyup', function (event) {
            this.value = autoNumber(this.value);
        });
    }
    $(document).ready(function(){
        initEvent();
    });

    /*우편번호조회 api*/
    var element_layer = document.getElementById('layer');

    function closeDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_layer.style.display = 'none';
    }

    function sample2_execDaumPostcode() {
        $('#valid_addr').text('');
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('c_post').value = data.zonecode;
                document.getElementById("c_addr").value = addr;

                element_layer.style.display = 'none';
            },
            width : '100%',
            height : '100%',
            maxSuggestItems : 5
        }).embed(element_layer);
        element_layer.style.display = 'block';
        initLayerPosition();
    }

    // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동하려면
    // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행, 아니면 직접 element_layer의 top,left값을 수정
    function initLayerPosition(){
        var width = 500;
        var height = 600;
        var borderWidth = 1;
        element_layer.style.width = width + 'px';
        element_layer.style.height = height + 'px';
        element_layer.style.border = borderWidth + 'px solid #ced4da ';
        element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width)/2 - borderWidth) + 'px';
        element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height)/2 - borderWidth) + 'px';
    }

    /*아이디,전화번호,이메일 중복확인*/

    function goIdCheck() {
        $('#valid_infoCheck').text('');
        var param1 = {
            userId: document.querySelector('#c_id').value,
        }

        if (!CheckId($('#c_id').val())) {
            $('#valid_id').text('* ID는 4~12자의 영문 대소문자와 숫자로 입력해주세요.');
            $('#isCheckedId').val('');
        } else {
            $.ajax({
                url: '/login/idcheck',
                data: param1,
                type: 'get',
                dataType: 'json'
            }).done(function (data) {
                if (data.resultCode == 200) {
                    $('#valid_id').text(data.resultMsg);
                    $('#valid_infoCheck').text('');
                    $('#isCheckedId').val('ok');
                } else if (data.resultCode == 400) {
                    $('#valid_id').text(data.resultMsg);
                    $('#valid_infoCheck').text('');
                    $('#isCheckedId').val('');
                }
            }).fail(function (error) {
                console.log(error);
            })
        }

        var param2 = {
            userPhone: document.querySelector('#c_phone').value,
        }

        if ($('#c_phone').val().length !=13 ){
            $('#valid_phone').text('* 전화번호를 정확히 입력해주세요');
            $('#isCheckedPhone').val('');
        } else {
            $.ajax({
                url: '/login/phonecheck',
                data: param2,
                type: 'get',
                dataType: 'json'
            }).done(function (data) {
                if (data.resultCode == 200) {
                    $('#valid_phone').text(data.resultMsg);
                    $('#valid_infoCheck').text('');
                    $('#isCheckedPhone').val('ok');
                } else{
                    $('#valid_phone').text(data.resultMsg);
                    $('#valid_infoCheck').text('');
                    $('#isCheckedPhone').val('');
                }
            }).fail(function (error) {
                console.log(error);
            })
        }

        var param3 = {
            userEmail: document.querySelector('#c_email').value,
        }

        if (!CheckEmail($('#c_email').val())) {
            $('#valid_email').text('* 이메일을 정확히 입력해주세요.');
            $('#isCheckedEmail').val('');
        } else {
            $.ajax({
                url: '/login/emailcheck',
                data: param3,
                type: 'get',
                dataType: 'json'
            }).done(function (data) {
                if (data.resultCode == 200) {
                    $('#valid_email').text(data.resultMsg);
                    $('#valid_infoCheck').text('');
                    $('#isCheckedEmail').val('ok');
                } else {
                    $('#valid_email').text(data.resultMsg);
                    $('#valid_infoCheck').text('');
                    $('#isCheckedEmail').val('');
                }
            }).fail(function (error) {
                console.log(error);
            })
        }
    }

    /*회원가입*/
    function goSignup() {
        if (validation()) {
            var param = {
                mbrId:  $('#c_id').val(),
                mbrPwd: $('#c_password').val(),
                mbrNm : $('#c_name').val(),
                mbrBday: $('#c_bday').val(),
                mbrPost: $('#c_post').val(),
                mbrAddr: $('#c_addr').val(),
                mbrRole: 0,
                mbrPoints : 0,
                mbrGrade : 0,
                mbrEmail: $('#c_email').val(),
                mbrPhone: $('#c_phone').val()
            };


            $.ajax({
                url: '/login/join',
                data: JSON.stringify(param),
                type: 'post',
                contentType:"application/json;charset=UTF-8",
                dataType : 'json'
            }).done(function(data){
                if(data.resultCode == 200) {
                    modal(data.resultMsg,'확인','/');
                }else {
                    alert(data.resultMsg);
                    return false;
                }

            }).fail(function (data, textStatus, errorThrown){
                console.log(textStatus);
            });
        }
    }

    /*키 입력시 valid 메세지 삭제*/
    function onKeyUp(props){
        if(props=='#valid_id'){
            $('#isCheckedId').val('');
        }
        if(props=='#valid_phone'){
            $('#isCheckedPhone').val('');
        }
        if(props=='#valid_email'){
            $('#isCheckedEmail').val('');
        }
        $(props).text('');
    }


    /*input valid 유효성*/
    function validation() {
        var result = true;

        $('#valid_name').text('');
        $('#valid_id').text('');
        $('#valid_phone').text('');
        $('#valid_bday').text('');
        $('#valid_email').text('');
        $('#valid_addr').text('');
        $('#valid_password').text('');


        document.querySelectorAll("input").forEach(input => {
            var inValue = input.value;

            if (input.id == 'c_name' && !CheckName(inValue)) {
                document.forms[0].classList.add("was-validated");
                $('#valid_name').text('* 이름를 정확히 입력해주세요');
                result = false;
            } else if ($('#valid_name').text() == '') {
                if ($('#isCheckedId').val() == ''||$('#isCheckedPhone').val() == ''||$('#isCheckedEmail').val() == '') {
                    document.forms[0].classList.add("was-validated");
                    $('#valid_infoCheck').text('* 중복확인은 필수입니다.');
                    result = false;
                } else  {
                    if (input.id == 'c_bday' && (inValue == '' || $.trim(inValue).length != 6)) {
                        document.forms[0].classList.add("was-validated");
                        $('#valid_bday').text('* 생년월일 6자리를 입력해주세요');
                        result = false;
                    } else if ($('#valid_bday').text() == '') {
                        if (input.id == 'c_addr' && (inValue == '' || $.trim(inValue).length == 0)) {
                            document.forms[0].classList.add("was-validated");
                            $('#valid_addr').text('* 주소를 입력해주세요');
                            result = false;
                        } else if ($('#valid_addr').text() == '') {
                            if (input.id == 'c_password' && $.trim(inValue).length == 0) {
                                document.forms[0].classList.add("was-validated");
                                $('#valid_password').text('* 비밀번호를 입력해주세요');
                                $('#valid_password_c').text('');
                                result = false;
                            } else if ($('#valid_password').text() == '' && $('#c_password').val() != $('#c_pwd_re').val()) {
                                document.forms[0].classList.add("was-validated");
                                $('#valid_password_c').text('* 비밀번호 확인이 일치하지 않습니다.');
                                result = false;
                            }
                        }
                    }

                }
            }

        });

        return result;

    }



</script>

</body>
</html>


