<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TIKITAKA &ndash; 이메일 인증 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(certifyEmail)">
        </div>
        <!------------->
        <nav class="site-navigation text-right text-md-center" role="navigation"
             th:replace="common::menu(certifyEmail)">
        </nav>
        <!---------------------------------------------------------->
    </header>

    <!--모바일 검색창-->
    <div th:replace="common::mobile_search(certifyEmail)"></div>

    <div class="site-section margin-top-2">
        <div class="container">
            <div class="row justify-content-center"><!--justify-content-center 추가-->

                <div class="col-md-7">
                    <div class="col-md-12 ">
                        <h2 class="h3 mb-3 text-black  ">이메일인증</h2> <!--login logo 위치 수정-->
                    </div>
                    <form action="" method="post">
                        <input type="hidden" id="userId" th:value="${session.mbrId}">
                        <div class="p-3 p-lg-5 border">


                            <div class="row align-items-sm-start justify-content-center align-items-center">
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="c_email" name="c_email" required
                                           disabled>
                                    <span id="valid_email" style="color: #ff0000;font-size: 10px;"></span>
                                </div>

                                <div class="sendEmailBtn col-lg-4">
                                    <span id="sendCertifyNum" onclick="sendEmail()">인증번호 보내기</span>
                                </div>
                            </div>

                            <div class="row align-items-sm-start justify-content-center align-items-center">
                                <div class="col-md-8">
                                    <input type="text" id="inputKey" class="form-control" placeholder="인증번호를 입력하세요."
                                           name="current_password"
                                           required>
                                    <input type="hidden" id="emailKey" value="">
                                    <span id="valid_current_password" style="color: #ff0000;font-size: 10px;"></span>
                                </div>

                                <div class="doCertifyBtn col-lg-4">
                                    <input id="loginConfirm" type="button" class="btn btn-primary btn-lg btn-block"
                                           value="인증하기" onclick="goCertify()">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="loading" style="display: none"><img id="loading-image" src="/images/ajax-loader.gif" alt="전송중..." /></div>


<style>
    .align-items-sm-start {
        padding: 5px 0;
    }

    #sendCertifyNum {
        color: red;
        cursor: pointer;
    }

    .sendEmailBtn {
        height: 40px;
        line-height: 40px;
    }

    .doCertifyBtn {
        height: 43px;
        padding-top: 5px;
    }

    #loginConfirm {
        width: 105px;
        line-height: 16px;
        background: #5e0080;
        border-style: none;
    }

    #loading {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        text-align: center;
    }

    #loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
    }


</style>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="/js/main.js"></script>
<script>


    /*멤버 정보*/
    function getMemberDetail() {
        var param = {
            userId: $('#userId').val(),
        };

        $.ajax({
            url: '/member/detail',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            $('#c_email').val(data.memberDetail.mbrEmail);
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }

    /*이메일 인증*/
    function sendEmail() {
        $('#loading').css('display','block');
        var param = {
            id: $('#userId').val(),
        };

        $.ajax({
            url: '/info/certify',
            data: param,
            type: 'post',
            dataType: 'json'

        }).done(function (data) {
            $('#loading').css('display','none');
            if (data.resultCode == 200) {
                popup('알람메세지',"인증번호가 전송되었습니다. 이메일을 확인해주세요.");
                $('#emailKey').val(data.resultMsg);
            } else {
                alert(data.resultMsg);
                return false;
            }

        }).fail(function (data, textStatus, errorThrown) {
            console.log('ajax fail',textStatus);
        });

    }

    function goCertify() {
        if($('#inputKey').val()==""){
            popup('알람메세지',"인증번호를 입력해주세요.");
        }
        else if ($('#inputKey').val() == $('#emailKey').val()) {
            var param = {
                userId: $('#userId').val(),
            };

            $.ajax({
                url: '/certify/role/update',
                data: param,
                type: 'post',
                dataType: 'json'
            }).done(function (data) {
                if (data.resultCode == 200) {
                    updateMbrPoint();
                    popup('알람메세지',data.resultMsg,'/member/myinfo');
                } else {
                    popup('알람메세지',data.resultMsg);
                    $('#inputKey').val('');
                    return false;
                }

            }).fail(function (data, textStatus, errorThrown) {
                console.log(textStatus);
            });
        } else {
            popup('알람메세지',"인증에 실패하였습니다. 인증번호를 확인해주세요.");
        }
    }

    $(document).ready(function () {
        getMemberDetail();
    });

    function updateMbrPoint() {
        param = {
            userId: $('#userId').val(),
        }
        $.ajax({
            url: '/member/update/point',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            console.log(data.resultMsg);
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }



</script>

</body>
</html>


