<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TIKITAKA &ndash; 내 정보 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div id="modal_overlay">
    <div id="modal_main">
        <h1 id="modal_content"></h1>
        <a id="modal_button" class="btn btn-primary btn-lg" style="color:white;"></a>
    </div>
</div>

<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(myinfo)">
        </div>
        <!------------->
        <!--replace-login-------------------------------->

        <nav class="site-navigation text-right text-md-center" role="navigation"
             th:replace="common::menu(myinfo)">
        </nav>
        <!----------------------------------------------------------->
    </header>

    <!--모바일 검색창-->
    <div th:replace="common::mobile_search(home)"></div>

    <!--replace logo-login-->
    <div class="bg-light py-3" th:replace="common::logo(내정보)">
    </div>
    <!------------------------->
    <div class="site-section margin-top-2"><!--margin class-->
        <div class="container">
            <div class="row align-items-sm-start justify-content-center">
                <div class="col-12 col-md-4 order-1 order-md-1 text-left text-lg-left">
                    <label for="p_id" class="text-black">ID
                        <span class="text-danger">*</span></label>
                    <span id="p_id" th:text="${session.mbrId}" style="color: #9792ea; font-size: 20px;"></span>
                    <button type="button" class="btn btn-primary" onclick="goUpdateInfo()">
                        개인정보수정</button>
                    <button type="button" class="btn btn-outline-danger" onclick="removeCheck()" style="padding:6px 6px;">
                        탈퇴하기</button>
                </div>

                <div class="col-12 col-md-4 order-2 order-md-2 text-left text-lg-right">
                    <label for="p_grade" class="text-black">거래등급
                        <span class="text-danger">*</span></label>
                    <span id="p_grade" style="color: #9792ea; font-size: 20px;">등급</span>
                    <button type="button" class="btn btn-primary">등급기준</button>
                </div>

                <div class="col-12 col-md-4 order-3 order-md-3 text-left text-lg-right">
                    <label for="p_point" class="text-black">판매점수
                        <span class="text-danger">*</span></label>
                    <span id="p_point" style="color: #9792ea; font-size: 20px;">점수</span>
                    <button type="button" class="btn btn-primary" onclick="goCertify()">이메일인증</button>
                </div>
            </div>


            <div class="NavContainer">
                <div class="NavItemTitle">
                    <label class="text-black">판매상품
                        <span class="text-danger">*</span></label></div>
            </div>
            <div class="NavContainer">
                <div class="gridContainer" style="">

                </div>
            </div>


        </div>
    </div>
</div>
<!-- 모바일 메뉴-->
<div th:replace="common::mobile(myinfo)"></div>
<a id="arrow_up" class="scroll_up" onclick="scroll_up()"> </a>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="../js/aos.js"></script>

<script src="../js/main.js"></script>
<style>

    .NavContainer{
        padding:3% 3% 0 3%;
    }

    .NavContainer:not(:nth-child(2)) {
        border: none;
    }

    /*이미지리스트 css*/
    .block-4-image {
        margin: 0;
    }

    .block-4-text {
        font-size: 16px;
        color: #000;


    }

    .img-fluid {
        width: 100%;
        height: 193.53px;
    }

    .block-4-text {
        padding: 10px 0;
    }


    p {
        margin: 0;
        color: #000;
    }

    .priceContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10px 0 20px;
    }

    label {
        margin-right: 20px;
        padding-bottom:20px;
    }

    label + span {
        margin-right: 20px;
        font-size: 14px;
    }
    .ItemName > a {
        margin: 0 20px 20px 20px;
        display: flex;
        justify-content: flex-start;
    }

</style>

<script>

    function getIdQueryList() {
        param = {
            selId: $('#p_id').text(),
        }
        $.ajax({
            url: '/product/list.selId',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            drawPrdList(data);
            console.log(data);
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }

    function drawPrdList(data) {
        console.log("@@product data", data);

        if (typeof data.dataQueryList !== 'undefined' && data.dataQueryList.length > 0) {
            var container = $('.gridContainer');
            container.empty();
            var contents = '';
            var imgPath = '';

            $.each(data.dataQueryList, function (index, obj) {
                $('#objCatNo').val(obj.catNo); //카테고리 상품 디테일 -> 카테고리 번호 저장
                //매번 컨텐츠가 달라야하니 초기화
                contents = '';
                var wday = timeForToday(obj.wday);
                //이미지경로를 미리 만들어놓는다.
                imgPath = '/istatic/images/' + obj.prodNo + '/1.jpg';

                //제품 html
                contents += '<div class="gridItem">';
                contents += '    <div class="item">';
                contents += '       <div class="block-4 text-center">';
                contents += '          <a href="#" onclick="goDetail(' + obj.prodNo + ')">';
                contents += '               <figure class="block-4-image" >';
                contents += '                    <img src="'+imgPath+'"  alt="Image placeholder"  class="img-fluid">';
                contents += '                </figure>';
                contents += '                <div class="block-4-text">';
                contents += '                    <h3 class="ItemName"><a href="#"  onclick="goDetail(' + obj.prodNo + ')">' + textLengthOverCut(obj.prodNm, 11, '...') + ' </a></h3>';
                contents += '                    <div class=priceContent>';
                contents += '                    <p class="text-primary font-weight-bold">' + obj.prodPrc + '원</p>';
                contents += '                    <span>' + wday + '</span>';
                contents += '                    </div>';
                contents += '                </div>';
                contents += '            </a>';
                contents += '        </div>';
                contents += '    </div>';
                contents += '</div>';

                //그리드에 삽입
                container.append(contents);
            })

        }
    }


    //상세페이지
    function goDetail(prodNo) {
        location.href = '/product/detail?prodNo=' + prodNo;
    }

    $(document).ready(function () {
        getIdQueryList();
    });

    function goUpdateInfo(){
        location.href = '/member/info/update';
    }

    /*탈퇴 페이지 이동*/
    function removeCheck() {
        location.href = '/member/info/delete';
    }
    function goCertify(){
        location.href = '/member/info/certify';
    }
</script>

</body>
</html>