<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiki.member.mapper.MemberMapper">

    <resultMap id="MbrResultMap" type="MemberDTO">
        <result column="mbr_id" property="mbrId" jdbcType="VARCHAR"/>
        <result column="mbr_pwd" property="mbrPwd" jdbcType="VARCHAR"/>
        <result column="mbr_nm" property="mbrNm" jdbcType="VARCHAR"/>
        <result column="mbr_bday" property="mbrBday" jdbcType="VARCHAR"/>
        <result column="mbr_addr" property="mbrAddr" jdbcType="VARCHAR"/>
        <result column="mbr_role" property="mbrRole" jdbcType="BOOLEAN"/>
        <result column="mbr_points" property="mbrPoints" jdbcType="INTEGER"/>
        <result column="mbr_grade" property="mbrGrade" jdbcType="VARCHAR"/>
        <result column="mbr_email" property="mbrEmail" jdbcType="VARCHAR"/>
        <result column="mbr_phone" property="mbrPhone" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectMemberDetail" resultMap="MbrResultMap" parameterType="String">
        select *
        from mbr
        where mbr_id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="existId" resultType="String" parameterType="String">
        select mbr_id
        from mbr
        where mbr_id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="existPhone" resultType="String" parameterType="String">
        select mbr_id
        from mbr
        where mbr_phone = #{phone,jdbcType=VARCHAR}
    </select>

    <select id="existEmail" resultType="String" parameterType="String">
        select mbr_id
        from mbr
        where mbr_email = #{email,jdbcType=VARCHAR}
    </select>


    <insert id="insertMember" parameterType="MemberDTO">
        insert
        mbr (mbr_id, mbr_pwd, mbr_nm, mbr_bday, mbr_addr, mbr_email, mbr_phone) values(
        #{mbrId, jdbcType=VARCHAR},
        #{mbrPwd, jdbcType=VARCHAR},
        #{mbrNm, jdbcType=VARCHAR},
        #{mbrBday, jdbcType=VARCHAR},
        #{mbrAddr, jdbcType=VARCHAR},
        #{mbrEmail, jdbcType=VARCHAR},
        #{mbrPhone, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteMember" parameterType="String">
        delete
        from
        mbr
        where
            mbr_id = #{id,jdbcType=VARCHAR}
    </delete>

    <select id="findMemberId" parameterType="MemberDTO" resultType="String">
    SELECT mbr_id
    FROM
    mbr
    WHERE
    mbr_nm = #{mbrNm,jdbcType=VARCHAR}
    AND
    mbr_phone = #{mbrPhone,jdbcType=VARCHAR}
    </select>

    <select id="existPwd" parameterType="MemberDTO" resultType="String">
        SELECT mbr_pwd
        FROM
            mbr
        WHERE
            mbr_nm = #{mbrNm,jdbcType=VARCHAR}
          AND
            mbr_phone = #{mbrPhone,jdbcType=VARCHAR}
            AND
            mbr_id = #{mbrId,jdbcType=VARCHAR}
    </select>

    <update id="updateMemberPwd" parameterType="MemberDTO">
        UPDATE
            mbr
        SET
            mbr_pwd = #{mbrPwd,jdbcType=VARCHAR}
        WHERE
            mbr_id = #{mbrId,jdbcType=VARCHAR}
    </update>

    <update id="updateRole" parameterType="MemberDTO">
        UPDATE
            mbr
        SET
            mbr_role = true
        WHERE
            mbr_id = #{mbrId,jdbcType=VARCHAR}
    </update>


    <update id="updateMemberInfo" parameterType="MemberDTO">
        UPDATE
            mbr
        SET
            mbr_addr = #{mbrAddr, jdbcType=VARCHAR},
            mbr_phone =  #{mbrPhone, jdbcType=VARCHAR}
        WHERE
            mbr_id = #{mbrId,jdbcType=VARCHAR}
    </update>

    <update id="updateMemberPoints" parameterType="MemberDTO">
        UPDATE
            mbr
        SET
            mbr_points= mbr_points+5
        WHERE
            mbr_id = #{mbrId,jdbcType=VARCHAR}
    </update>

    <update id="updateMemberGrade" parameterType="MemberDTO">
        UPDATE
            mbr
        SET
            <choose>
                <when test="mbrPoints gte 500">mbr_grade='다이아'</when>
                <when test="mbrPoints gte 300">mbr_grade='플레티넘'</when>
                <when test="mbrPoints gte 100">mbr_grade='골드'</when>
                <when test="mbrPoints gte 50">mbr_grade='실버'</when>
                <when test="mbrPoints gte 5">mbr_grade='브론즈'</when>
                <otherwise>mbr_grade='보통'</otherwise>
            </choose>
        WHERE
            mbr_id = 'dink95'
    </update>

</mapper>
