<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--공통 헤더-->
<div class="site-navbar-top" th:fragment="header(header)" > <!--padding 수정 style-196-->
    <div class="container">
        <div class="row align-items-center">
            <!--

                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left"></div>
                        &lt;!&ndash;원래 검색바 수정&ndash;&gt;
            -->

            <div class="col-6 col-md-3 order-1 order-md-1 text-left">
                <div class="site-logo" >
                    <a href="/" class="js-logo-clone" >
                        TIKITAKA

                    </a><!--로고크기 style-202-->
                </div>
            </div>

            <div class="col-12 col-md-6 order-3 order-md-2  text-center">
                <!--검색바 중간 삽입-->
                <!--  <div class="select-box"> &lt;!&ndash;셀렉트 박스 div&ndash;&gt;
                      <select name="" class="form-control border-0 select-infor font-14">
                          <option class="form-control border-0 font-14" value="">전체</option>
                          <option class="form-control border-0 font-14" value="">제목</option>
                          <option class="form-control border-0 font-14" value="">ID</option>
                          <option class="form-control border-0 font-14" value="">상품코드</option>
                      </select>
                  </div>-->
                <form action="product/list" class="site-block-top-search input-search">
                    <input type="text" class="form-control input-search" placeholder="Search" style="border: 1px solid #ddd; border-radius: 50px;">
                    <span type="submit" class="icon icon-search2"></span>
                </form>

                <!------------------------------------------------------------------------------->
            </div>

            <div class="col-6 col-md-3 order-2 order-md-3 text-right" >
                <!--메뉴 padding 수정-style-260-->
                <div class="site-top-icons"> <!--버튼 사이즈 수정 style-218-->
                    <ul >

                        <li th:if="${session.mbrId == null}"><a href="signup" ><span class="sign in">&nbsp;회원가입</span></a></li> <!--로그인 전-->
                        <li th:if="${session.mbrId != null}"><a><span class="sign in" th:text="${session.mbrId}" style="color:#7971ea; font-size:16px; "></span></a></li> <!--로그인 후-->
                        <li>/&nbsp;&nbsp;</li>
                        <li th:if="${session.mbrId == null}"><a href="/login"><span class="sign in">로그인</span></a></li><!--로그인 전-->
                        <li th:if="${session.mbrId != null}"><a href="/logout" ><span class="sign in">&nbsp;&nbsp;로그아웃</span></a></li> <!--로그인 후-->
                        <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                        <!--js-menu toggle-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->

<!--공통 menu-->
<nav class="site-navigation text-right text-md-center" role="navigation" th:fragment="menu(menu)" ><!--메뉴 간격 수정 style-273-->
    <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block" >
            <li th:classappend="${menu}=='home'? 'active' : ''"><a href="/" >Home</a>
            <li th:classappend="${menu}=='product_list'? 'active' : ''">
                <a th:if="${session.mbrId == null}" href="login" >상품</a>
                <a th:if="${session.mbrId != null}" href="/product/list" >상품</a></li>
            <li th:classappend="${menu}=='product_create'? 'active' : ''">
                <a th:if="${session.mbrId == null}" href="/login" >상품등록</a>
                <a th:if="${session.mbrId != null}" href="/product/create" >상품등록</a></li>
            <li th:classappend="${menu}=='menu3'? 'active' : ''">
                <a th:if="${session.mbrId == null}" href="login" >경매</a>
                <a th:if="${session.mbrId != null}" href="#" >경매</a></li>
            <li th:classappend="${menu}=='menu4'? 'active' : ''">
                <a th:if="${session.mbrId == null}" href="login" >채팅</a>
                <a th:if="${session.mbrId != null}" href="#" >채팅</a></li>
            <li th:classappend="${menu}=='myinfo'? 'active' : ''">
                <a th:if="${session.mbrId == null}" href="login" >내정보</a>
                <a th:if="${session.mbrId != null}" href="/member/myinfo" >내정보</a></li>
        </ul>
    </div>
</nav>
<!---------------->

<!--공통 logo-->
<div class="bg-light py-3" th:fragment="logo(logo)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> /</span>
                <span class="text-black" th:text="${logo}=='login'? 'Login' : '' "></span>
                <span class="text-black font-14" th:text="${logo}=='signup'? '회원가입' :'' "></span>
                <span class="text-black font-14" th:text="${logo}=='findid'? '아이디찾기' : '' "></span>
                <span class="text-black font-14" th:text="${logo}=='findpwd'? '비밀번호찾기' :'' "></span>
                <span class="text-black font-14" th:text="${logo}=='updatepwd'? '비밀번호 재설정' :'' "></span>
                <span class="text-black font-14" th:text="${logo}=='myinfo'? '내 정보' :'' "></span>
                <span class="text-black font-14" th:text="${logo}=='product_create'? '상품 등록' :'' "></span>
                <span class="text-black font-14" th:text="${logo}=='product_list'? '상품 리스트' :'' "></span>
                <span class="text-black font-14" th:text="${logo}=='product_update'? '수정하기' :'' "></span>
                <span class="text-black font-14" th:text="${logo}=='report'? '사용자신고' :'' "></span>
            </div>
        </div>
    </div>
</div>
</div>


<!-------------------->

<script>

</script>
</html>