.categoryIcon {
    /*디자인1*/
    width: 20px;
    margin-right:10px;
}
.categoryIcon2{
    /*디자인2*/
    width: 30px;
    height: 38px;

}
.arrowLeftIcon{
    width: 30px;
    height: 25px;
    background: #edecfb;
}
.crossCircleIcon{
    width: 30px;
    height: 30px;
}
.arrowDownIcon{

}
