@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Roboto:wght@100&display=swap');

textarea{
  font-family: 'Roboto','Noto Sans KR',  sans-serif;
}
/* Base */
body {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px;
  overflow-X:hidden;
}

.font-14 {
  font-size: 14px;
}


::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}


/**************************************/

/*login-login-box, 로고 위치 수정*/

/*margin class*/
.margin-top-2 {
  margin-top: 2%;
}

.padding-top-2 {
  padding-top: 2%;
}

#top-5 {
  width: 20%;
  text-align: center;
}

#top-5-list {
  text-align: center;
  line-height: 300%;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none;
}

.text-black {
  color: #000;
}

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.btn {
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.2s all ease-in-out !important;
  -o-transition: 0.2s all ease-in-out !important;
  transition: 0.2s all ease-in-out !important;
  letter-spacing: .05em;
}

.btn:hover, .btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-secondary {
  background-color: #e6e7e9;
  border-color: #e6e7e9;
  color: #000;
}

.btn.btn-sm {
  font-size: 14px !important;
  padding: 10px 20px !important;
}

.btn.btn-primary {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .2em;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
  top: -2px;
}

.form-control {
  height: 43px;
}

.form-control:active, .form-control:focus {
  /*border-color: #7971ea;*/
}

.form-control:hover, .form-control:active, .form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.site-section {
  padding: 2.5em 0 2.5em 0;
}


/*상품 박스 위에 padding값 수정*/
/*site-section 배경색 수정*/

.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative;
}

.site-section-heading:before {
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #7971ea;
}

.site-section-heading.text-center:before {

  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #7971ea;
}

.border-top {
  border-top: 1px solid #edf0f5 !important;
}

.site-footer {
  padding: 4em 0;
}

.site-footer ul li {
  margin-bottom: 10px;
}

.site-footer ul li a {
  color: #5c626e;
}

.site-footer ul li a:hover {
  color: #7971ea;
}

.site-footer .footer-heading {
  font-size: 20px;
  color: #25262a;
}

/* Navbar */
.site-navbar {
  background: #fff;
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  top: 0
}

.site-navbar.transparent {
  background: transparent;
}

.site-navbar .site-navbar-top {
  /*border-bottom: 1px solid #f3f3f4;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .site-navbar .site-navbar-top {
    /*padding-top: 2%;*/
    /*padding-bottom: 2%;*/
  }
}

/* 헤더 padding 수정*/
.site-navbar .site-search-icon a span {
  display: inline-block;
  margin-right: 10px;
}

.site-navbar .site-search-icon a:hover {
  text-decoration: none;
}

.site-navbar .site-logo a {
  text-transform: uppercase;
  color: #25262a;
  letter-spacing: .2em;
  font-size: 30px; /*사이트 로고 크기 수정*/
  padding-left: 10px;
  padding-right: 10px;
  /*border: 2px solid #25262a;*/
}

.site-navbar .site-logo a:hover {
  text-decoration: none;
}

.site-navbar a {
  color: #868995;
}

.site-navbar a:hover {
  color: #3d3f45;
}

.site-navbar .icon {
  font-size: 20px;
  margin-left: 10px
}

.site-navbar .site-top-icons ul, .site-navbar .site-top-icons ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}

/*로그인 회원가입 버튼 사이즈 수정*/
.site-navbar .site-top-icons ul li {
  display: inline-block;
}

.site-navbar .site-top-icons ul li a {
  margin-right: 10px;
}

.site-navbar .site-top-icons ul li a.site-cart {
  display: block;
  position: relative;
}

.site-navbar .site-top-icons ul li a.site-cart .count {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -15px;
  margin-top: -20px;
  font-size: 13px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  display: block;
  text-align: center;
  background: #7971ea;
  color: #fff;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.site-navbar .site-top-icons ul li a:hover .count {
  -webkit-box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
  margin-top: -22px;
}

.site-navbar .site-top-icons ul li:last-child a {
  padding-right: 0;
}

.site-navbar .site-top-icons ul .site-menu-toggle {
  font-size: 25px;
  position: relative;
  top: 2px;
  margin-left: 20px;
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
  padding: 0;
  border-bottom: 1px solid #f3f3f4;
}

/*메뉴 가운데 정렬 수정*/
.site-navbar .site-navigation .site-menu .active > a {
}

/*active효과 수정*/
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  font-size: 15px;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  font-weight: 400;
  margin: 0 2%;

}

/*메뉴 간격 수정*/
/*.site-navbar .site-navigation .site-menu > li:nth-child(2) {
  display: inline-block;
  padding: 10px 4% 0 0 } !*메뉴 간격 수정*!
.site-navbar .site-navigation .site-menu > li:nth-child(3) {
  display: inline-block;
  padding: 10px 3% 0 16%; } !*메뉴 간격 수정*!*/
.site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 5px;
  /*text-transform: uppercase;*/
  letter-spacing: .05em;
  color: #25262a;
  font-size: 17px;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #5f0080;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #7971ea;
  -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  font-size: 16px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #7971ea !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children a {
  text-transform: uppercase;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #7971ea;
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 40px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
  color: #25262a;
  letter-spacing: .2em;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #7971ea;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active > a {
  color: #7971ea;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "FontAwesome";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.site-blocks-cover, .site-blocks-cover .row {
  min-height: 600px;
  height: calc(100vh - 174px);
}

.site-blocks-cover h1 {
  font-size: 30px;
  font-weight: 900;
  color: #000;
}

@media (min-width: 768px) {
  .site-blocks-cover h1 {
    font-size: 50px;
  }
}

.site-blocks-cover p {
  color: #333333;
  font-size: 20px;
  line-height: 35px;
}

.site-blocks-cover .intro-text {
  font-size: 16px;
  line-height: 1.5;
}

.site-blocks-1 {
  border-bottom: 1px solid #edf0f5;
}

.site-blocks-1 .divider {
  position: relative;
}

.site-blocks-1 .divider:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  right: 10px;
  background: #edf0f5;
}

.site-blocks-1 .divider:last-child:after {
  display: none;
}

.site-blocks-1 .icon span {
  position: relative;
  color: #7971ea;
  top: -10px;
  font-size: 50px;
  display: inline-block;
}

.site-blocks-1 .text h2 {
  color: #25262a;
  letter-spacing: .05em;
  font-size: 18px;
}

.site-blocks-1 .text p:last-child {
  margin-bottom: 0;
}

.site-blocks-2 .block-2-item {
  display: block;
  position: relative;
}

.site-blocks-2 .block-2-item:before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*  background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );*/
}

.site-blocks-2 .block-2-item .image {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}

.site-blocks-2 .block-2-item .image img {
  margin-bottom: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.site-blocks-2 .block-2-item .text {
  z-index: 2;
  bottom: 0;
  padding-left: 20px;
  position: absolute;
  width: 100%;
}

.site-blocks-2 .block-2-item .text > span, .site-blocks-2 .block-2-item .text h3 {
  color: #fff;
}

.site-blocks-2 .block-2-item .text > span {
  font-size: 12px;
  letter-spacing: .1em;
  font-weight: 900;
}

.site-blocks-2 .block-2-item .text h3 {
  font-size: 40px;
}

.site-blocks-2 .block-2-item:hover .image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.block-3 .owl-stage {
  /*  padding-top: 40px;*/
  /*  padding-bottom: 40px;*/
}

.block-3 .owl-nav {
  position: relative;
  /*  position: absolute;
    bottom: -50px;*/
  display: flex;
  justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.block-3 .owl-nav .owl-prev, .block-3 .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 30px;
  color: #5c626e;
}

.block-3 .owl-nav .owl-prev:hover, .block-3 .owl-nav .owl-next:hover {
  color: #25262a;
}

.block-3 .owl-nav .owl-prev.disabled, .block-3 .owl-nav .owl-next.disabled {
  opacity: .2;
}

.block-4 {
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.block-4 .block-4-text h3 {
  font-size: 17px;
  margin-bottom: 0;
}

.block-4 .block-4-text h3 a {
  text-decoration: none;
}

.block-5 ul, .block-5 ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.block-5 ul li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
  color: #25262a;
}

.block-5 ul li:before {
  top: 0;
  font-family: "icomoon";
  content: "";
  position: absolute;
  left: 0;
  font-size: 20px;
  line-height: 1;
  color: #7971ea;
}

.block-5 ul li.address:before {
  content: "\e8b4";
}

.block-5 ul li.email:before {
  content: "\f0e0";
}

.block-5 ul li.phone:before {
  content: "\f095";
}

.block-6 {
  display: block;
}

.block-6 img {
  display: block;
}

.block-6 h3 {
  font-size: 18px;
}

.block-6 p {
  color: #737b8a;
}

.block-7 .form-group {
  position: relative;
}

.block-7 .form-control {
  padding-right: 96px;
}

.block-7 .btn {
  position: absolute;
  width: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3px;
}

.block-8 .post-meta {
  color: #c4c7ce;
}

.block-8 .block-8-sep {
  margin-left: 10px;
  margin-right: 10px;
}

.site-blocks-table {
  overflow: auto;
}

.site-blocks-table .product-thumbnail {
  width: 200px;
}

.site-blocks-table thead th {
  padding: 30px;
  text-align: center;
  border-width: 1px !important;
  vertical-align: middle;
  color: #212529;
  font-size: 18px;
}

.site-blocks-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: #212529;
}

.site-blocks-table tbody tr:first-child td {
  border-top: 1px solid #7971ea !important;
}

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important;
}

.site-block-order-table td, .site-block-order-table th {
  color: #000;
}

.site-block-top-search {
  position: relative;
}

.site-block-top-search .icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 10px
}

.site-block-top-search input {
  border-radius: 50px;
  padding-left: 40px;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.site-block-top-search input:focus, .site-block-top-search input:active {
  padding-left: 25px;
}

.site-block-27 ul, .site-block-27 ul li {
  padding: 0;
  margin: 0;
}

.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
}

.site-block-27 ul li a, .site-block-27 ul li span {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.site-block-27 ul li.active a, .site-block-27 ul li.active span {
  background: #7971ea;
  color: #fff;
  border: 1px solid transparent;
}

#slider-range {
  height: 8px;
}

#slider-range .ui-slider-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none !important;
  background: #7971ea;
}

#slider-range .ui-slider-handle:focus, #slider-range .ui-slider-handle:active {
  outline: none;
}

#slider-range .ui-slider-range {
  background-color: #7971ea;
}

.color-item .color {
  width: 14px;
  height: 14px;
}

.block-16 figure {
  position: relative;
}

.block-16 figure .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  width: 90px;
  height: 90px;
  background: #fff;
  display: block;
  border-radius: 50%;
  border: none;
}

.block-16 figure .play-button:hover {
  opacity: 1;
}

.block-16 figure .play-button > span {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
}

.block-38 .block-38-header .block-38-heading {
  color: #000;
  margin: 0;
  font-weight: 300;
}

.block-38 .block-38-header .block-38-subheading {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .1em;
}

.block-38 .block-38-header img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}


/**********************************추가***************************************/
li{list-style: none;}
a{text-decoration: none;}

/*공통적으로 쓰려고 만들어놓음*/
.width-80p{
  width: 80%;
}

.margin-all-5{margin: 5px;}
.margin-top-bottom-5{margin: 5px 0;}
.margin-left-right-5{margin: 0 5px;}
.margin-left-5{margin-left: 5px;}
.margin-right-5{margin-right: 5px;}
.margin-top-5{margin-top: 5px;}
.margin-bottom-5{margin-bottom: 5px;}

.margin-all-10{margin: 10px;}
.margin-top-bottom-10{margin: 10px 0;}
.margin-left-right-10{margin: 0 10px;}
.margin-left-10{margin-left: 10px;}
.margin-right-10{margin-right: 10px;}
.margin-top-10{margin-top: 10px;}
.margin-bottom-10{margin-bottom: 10px;}
.margin-left-right-15{margin:0 15px;}

.padding-all-5{padding: 5px;}
.padding-top-bottom-5{padding: 5px 0;}
.padding-left-right-5{padding: 0 5px;}
.padding-left-5{padding-left: 5px;}
.padding-right-5{padding-right: 5px;}
.padding-top-5{padding-top: 5px;}
.padding-bottom-5{padding-bottom: 5px;}

.padding-all-10{padding: 10px;}
.padding-top-bottom-10{padding: 10px 0;}
.padding-left-right-10{padding: 0 10px;}
.padding-left-10{padding-left: 10px;}
.padding-right-10{padding-right: 10px;}
.padding-top-10{padding-top: 10px;}
.padding-bottom-10{padding-bottom: 10px;}

.padding-top-bottom-10p{
  padding: 10% 0;
}

.padding-all-15{padding:15px;}
.padding-left-right-15{padding:0 15px;}

.padding-all-30{padding: 30px;}

.active-color-purple{color: #5f0080;!important;}
.bb-1-p{border-bottom: 1px solid #5f0080;!important;}
.b-1-g{border: 1px solid #ddd;}
.bb-1-g{border-bottom: 1px solid #ddd}

.font-10{font-size: 10px;}
.font-12{font-size: 12px;}
.font-16{font-size: 16px;}
.font-18{font-size:18px;}
.font-20{font-size:20px;}
.font-25{font-size:25px;}

.cursor-pointer{cursor: pointer;}

.br-0{border-radius:0;}

.d-flex-j-center{
  display: flex;
  justify-content: center;
}
.d-flex-j-between{
  display: flex;
  justify-content: space-between;
}
.d-flex-j-a-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-inline{
  display: inline;
}

.text-center{
  text-align: center;
}

select:required:invalid {color: #666;}

option[value=""][disabled] {
  display: none;
}

input:focus{
  outline:none;
}
text:focus{
  outline:none;
}
textarea:focus{
  outline: none;
}



.category {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.select-infor {

}

.site-block-top-search {
  border-radius: 50px;
}

.select-search-box {

  padding: 0;
  border: 1px solid #ddd;
  border-radius: 50px;

}

.select-search-box > .select-box {
  width: 25%;
  border-top: 1px solid #9702ea;
  border-left: 1px solid #9702ea;
  border-bottom: 1px solid #9702ea;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;

}

.select-search-box > .search-box {


}


#arrow_right > a:after {

  content: '\e315';
  font-size: 16px;
  right: -5px;
  font-family: 'icomoon';
}


#arrow_up:after {
  content: '\e316';
  font-size: 30px;
  right: -5px;
  font-family: 'icomoon';
  z-index: 100000;


}

#modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10000;
  opacity: 0;
}

#modal_main {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  width: 30%;
  min-width: 400px;
  background: white;
  text-align: center;
  border-radius: 5px;
  padding: 5% 0;
  word-break: break-all;
}

#modal_content {
  font-size: 1.5rem;
}

.scroll_up {
  color: black;
  cursor: pointer;
  position: fixed;
  bottom: 90px;
  right: 5%;
}

.scroll_up:hover {
  color: black;
}

.NavContainer {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  box-style: border-box;
  padding: 3%;
}

.NavContainer.BtnNavContainer {
  justify-content: center;
  border: none;
}

.NavContainer.PreBtnContainer {
  justify-content: flex-end;
  border: none;
}


.NavItemTitle {
  color: #000;
  width: 10%;
  text-align: right;
  min-width: 100px;
}

.NavItem {
  padding: 0 10%;
  box-style: border-box;
  width: 100%;

}

.photoContainer {
  background: #eee;
  border: 1px solid #dee2e6;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  transition: 0.4s;
}

.photoContainer:hover {
  background: #fff;
}

.NavItem {
  position: relative;
  display: inline-block;
}

.NavItem span {
  position: absolute;
}

#title_count {
  right: 10%;
  border-radius: 0.5em;
  padding: 0 .5em 0 .5em;
  font-size: 1em;
}

.gridContainer {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(200px, auto));*/
  grid-template-columns: repeat(5,1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.gridItem {
  height: fit-content;
}

/*input 타입의 기본 css 제거*/

input[type=button] {
  -webkit-appearance: none;

}

input[type=submit] {
  -webkit-appearance: none;


}

.border-0-btn {
  width: 40%;
  height: 50px;
  border-radius: 0;
}

.ButtonNav {
  display: flex;
  justify-content: center;
}

.ButtonNav > .btn {
  margin: 1%;
!important;
}

figure {
  overflow: hidden;
!important;
  top: 0px;
  left: 0;
!important;


}

figure > img {
  background-size: cover;
!important;
  max-height: 100%;
!important;
  width: 100%;
!important;


}


.categoryMenuBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryMenu {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.categoryMenu a {
  cursor: pointer;
  width: 15%;
  text-align: center;
  padding-top: 1%;

}

.categoryMenu a p {
  font-size: 0.5rem;
  margin: 0;
  color: #000;
}

.container {
  opacity: .99;
}

#categoryIcon {
  cursor: pointer;
}

/*팝업창*/

.popupLayout{
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  background-color: rgba( 0, 0, 0, 0.5 );
  position: fixed;
  z-index: 100;
  display: none;
}
.popup{
  margin-top:18vh;
  width: 490px;
  height: 250px;
  position: fixed;
  border: 1px solid #f1ecf1;
  background: #fff;

}
.popupTitleNav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin:0 15px;
  height: 20%;
  border-bottom: 1px solid #ddd;
}
#popupTitle{
  font-size: 14px;
  color: #5f0080;
  font-weight: bold;
}
.popupContentNav{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.popupContentNav>span{
  color: #000;
}
#popupContent{
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.popupConfirm{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.popupConfirm>button{
  border-style: none;
  color: #fff;
  background: #5f0080;
  border-radius: 2px;
  font-size: 13px;
  cursor: pointer;
  padding:5px 30px;
  opacity: .8;
}
.popupConfirm>button:active{
  opacity: 1;
  border-style: none;
}
/*************/
/* table */
.tblBox {display:block; margin:0 0 20px 0; color:#6a74a7; border-radius:10px; box-shadow:0 0 10px rgba(115,133,220,0.08);}

.tblType01 {width:100%; color:#6a74a7; border-radius:10px;}
.tblType01 thead th {padding:10px 5px; color:#101d74; font-size:14px; font-weight:bold; text-align:center; vertical-align:middle; letter-spacing:-1px; border:none; background:#d8ddf3;}
.tblType01 thead th:first-child {border-radius:10px 0 0 0;}
.tblType01 thead th:last-child {border-radius:0 10px 0 0;}
.tblType01 tbody td {padding:7px 5px; font-size:13px;vertical-align:middle;text-align:center; letter-spacing:-0.1px; background:#fff;}
.tblType01 tbody tr:last-child td:first-child {border-bottom-left-radius:15px;}
.tblType01 tbody tr:last-child td:last-child {border-bottom-right-radius:15px;}
.tblType01 tbody td span.txt {display:inline-block;}
.tblType01 tbody td span.preveal {display:inline-block; position:relative; width:26px; height:26px; margin:0 0 0 5px; color:#6a74a7; line-height:24px; border:1px solid rgba(57,60,81,0.2); border-radius:5px; transition:all 0.3s ease-out;}
.tblType01 tbody td span.preveal .item {display:none; position:absolute; top:0; left:32px; width:150px; padding:7px 10px; color:#fff; border-radius:5px; word-break:keep-all; background:rgba(57,60,81,0.9);}
.tblType01 tbody td span.preveal:hover {color:#607391; border:1px solid rgba(115,133,220,0.6); transition:all 0.3s ease-out;}
.tblType01 tbody td span.preveal:hover .item {display:block;}

.tblType01 tbody td .btn_tbl {display:inline-block; color:#fff; font-size:12px; line-height:28px; vertical-align:middle; border:none; border-radius:5px; background:#6a74a7; transition:all 0.3s ease-out; cursor:pointer; opacity:1.0;}
.tblType01 tbody td .btn_tbl span {margin:-1px 5px 0 0; font-size:10px; vertical-align:middle; opacity:0.7;}
.tblType01 tbody td .btn_tbl.active {color:#6a74a7; border:1px solid #6a74a7; border-radius:5px; background:#fff; transition:all 0.3s ease-out;}
.tblType01 tbody td .btn_tbl:hover, .tblType01 tbody td .btn_tbl:focus {text-decoration:underline; opacity:1.0; transition:all 0.3s ease-out;}
.tblType01 thead th:first-child {border-radius:3px 0 0 0;}
.tblType01 thead th:last-child {border-radius:0 3px 0 0;}

/* paging */
.paging_wrap { display:block; overflow:hidden; text-align: center;}
.paging { display: inline-block; margin:5px 0 0 0; }
.paging a {margin:0 10px; color:#6a74a7; font-size:13px;}
.paging strong {margin:0 10px; color:#5964ff; font-size:13px;}
.paging a.btn_paging_first, .paging a.btn_paging_prev, .paging a.btn_paging_next, .paging a.btn_paging_end {margin:0;}
.paging a span {display:inline-block; position:relative; width:26px; height:26px; color:#6a74a7; line-height:26px; border:1px solid rgba(115,133,220,0.2); border-radius:5px; background:#fff; transition:all 0.3s ease-out;}
.paging a span em {display:none;}

.paging_wrap .btnBox {}
.paging_wrap .btnBox.left {float:left;}
.paging_wrap .btnBox.right {float:right;}
.paging_wrap .btnBox button {min-width:80px; height:34px; padding:0 15px; color:#fff; font-size:14px; font-weight:600; line-height:32px; letter-spacing:-1px; border:none; border-radius:5px; background:#6a74a7;}
.paging_wrap .btnBox button.point {background:#5964ff;}
.paging_wrap .btnBox span {margin:-1px 5px 0 0; font-size:12px; vertical-align:middle; opacity:0.5;}
.paging_wrap .btnBox a {display:inline-block; min-width:80px; height:34px; padding:0 15px; color:#fff; font-size:14px; font-weight:600; line-height:32px; letter-spacing:-1px; border:none; border-radius:5px; background:#6a74a7;}
.paging_wrap .btnBox a.point {background:#5964ff;}
.paging_wrap .btnBox button:hover, .paging_wrap .btnBox button:focus {}

.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.btn_paging_first, .btn_paging_prev, .btn_paging_next, .btn_paging_end {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  color: #6a74a7;
  line-height: 26px;
  border: 1px solid rgba(115,133,220,0.2);
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease-out;
}

.srchNum{
  color: #000;
}
.tblType01>tbody>tr{
  cursor: pointer;
}
#svg{
  color: #000;
}
#svg + a >span{
  vertical-align: bottom;
  font-size: 15px;

}

/*로딩*/
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  opacity: 0.7;
  background-color: #000;
  z-index: 99;
  text-align: center;
}
.loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  opacity: 0.7;
  background-color: #000;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}
.readAllCount{
  display: none;
  position: absolute;
  font-size: 6px;
  margin-left: -7px;
  background: #e02828;
  height: 22px;
  line-height: 21px;
  width: 22px;
  border: 1px solid #e02828;
  border-radius: 100px;
}

/********************************반응형********************************/

.site-wrap{
  min-height: 100vh;
}
.logo_img{
  width: 160px;
}

.site-navbar .site-logo a {
  color: #5f0080;
}

.site-navbar {
  position: sticky;
!important;
  top: 0px;
!important;
}

.nav_icon {
  color: #fff;
}

.menu_active {
  border-bottom: 2px solid #5f0080;
}
.menu_active > #svg{
  color: #5f0080;
}
.menu_active > a >span{
  color: #5f0080;
}

/*!*모바일 메뉴바*!*/

.mobile_nav {
  width: 100%;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #dddddd5e;
  z-index: 2000;
  display: none;
  justify-content:space-between;
  align-items: center;
  background: #ffff;
}

.mobile_nav_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding:10px 0 0 0px;
  width: 100%;
}
.mobile_nav_item > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 20%;
  font-weight: normal;

}
.mobile_nav_item > li > a {
  color: #000;
  margin: 0 10px;
  font-size: 0.7em;
}

.cate_a:hover{
  color: #000!important;
}


/*모바일 검색창*/
.input-mobile-search_div {
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: 1px;
  position: fixed;
  right: -100vw;
  z-index: 2000;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.input-mobile-search_nav{
  height: 53px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #edecfb;
}
.input-mobile-search_content{
  width: 100%;
  height: 100%;
  background: #fff;

}

.input-mobile-search {
  display: none;
  border-style: none;
  height: 52px;
  width: 100%;
  align-items: center;
}

.input-mobile-search > input {
  border-radius: 5px;
  width: 96%;

}

.mobile_search_icon {
  display: none;
  color: #000;
}

.mobile_search_close_btn {
  cursor: pointer;
  width: 60px;
  z-index: 10000;
  background: #edecfb;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*모바일 카테고리 메뉴*/
.input-mobile-category_div {
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: 1px;
  position: fixed;
  right: -100vw;
  z-index: 2000;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.input-mobile-category_nav{
  height: 53px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  background: #edecfb;
}

.input-mobile-category-text {
  font-size: 16px;
  font-weight: normal;
  color: black;
  width: 100%;
  text-align: center;

}
.input-mobile-category_content{
  width: 100%;
  height: 100vh;
  background: #fff;
  white-space: nowrap;
  overflow: scroll;
}

.input-mobile-category-content-text{
  font-weight: normal;
  font-size: 15px;
  color: black;
  padding: 0 3%;
  height: 53px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.input-mobile-category-content-item{
  display: flex;
  flex-direction: column;
}
.input-mobile-category-content-item > span{
  font-weight: normal;
  font-size: 15px;
  color: black;
  padding: 0 3%;
  height: 53px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.mobile_category_close_btn {
  cursor: pointer;
  width: 60px;
  z-index: 10000;
  background: #edecfb;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile_category_empty{
  width: 60px;
}
.sign-in {
  font-size: 0.8rem;
}

.sign-in-id {
  color: #5f0080;
  font-size: 1rem;
}
.sign-in-id-manager{
  color: #fff;
}
.sign-in-id-manager:hover{
  color: #fff;
}

.site-navigation {
  background: #a7a1f71c;
}

.site-navbar .site-navigation .site-menu > li > a {
  color: #000;
}

.mobile_search_hide{
  top:-52px;
  transition:0.2s;
}

.category_popup{
  cursor: pointer;
}

/*!카테고리 메뉴바*!*/
.category_nav {
  opacity: .1;
  transition-timing-function: ease-in-out;
  top: 168px;
  position: fixed;
  border-top: 2px solid #5f0080;
  border-bottom: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  border-left: 1px solid #f7f7f7;
  z-index: 20;
  justify-content:space-between;
  align-items: center;
  background: #fff;
  display: none;
  box-shadow: 0 2px 4px rgb(0, 0, 0, .3);

}

.category_nav_main_item{
  background: #fff;
  height: 500px;
  font-size: 15px;
  width: 160px;
}
.category_nav_main_item > ul > li > span{
  padding:0 5px;
}

.category_nav_main_item > ul{
  list-style: none;
  padding:0;
}
.category_nav_main_item > ul > li {
  text-align: left;!important;
  color: #111;
  font-weight: normal;
  cursor: pointer;
  padding:10px;
}

.category_nav_main_item > ul > li:hover{
  color: #5f0080;
}


.category_nav_detail_item{
  background: #f7f7f7;
  font-size: 15px;


}
.category_nav_detail_item0,
.category_nav_detail_item1,
.category_nav_detail_item2,
.category_nav_detail_item3,
.category_nav_detail_item4,
.category_nav_detail_item5{
  width: 0;
  display: none;
}

.category_nav_detail_item > ul{
  list-style: none;
  padding:0;
  height: 500px;
  display: none;

}
.category_nav_detail_item > ul > li{
  text-align: left;!important;
  color: #111;
  cursor: pointer;
  padding:10px;
  font-weight: normal;
}

.category_nav_detail_item > ul > li:hover{
  color: #5f0080;
}
.auction_box{
  height: 570px;
}
.ButtonNav{
  display: flex;
  justify-content: flex-start;
  padding: 10% 0;
}

@media screen and (max-width: 1200px){
  .aic2 > p{
    font-size: 14px;
  }
  .aic2 >span{
    font-size: 14px;
  }
  .gridContainer {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, auto));*/
    grid-template-columns: repeat(4,1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
}
@media screen and (max-width: 991px){

  .gridContainer {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, auto));*/
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .site-navbar .site-top-icons ul, .site-navbar .site-top-icons ul li {
    font-size: 12px;
  }
  .auction_box{
    height: 400px;!important;
  }
  .ButtonNav{
    display: flex;
    justify-content: flex-start;
    padding: 10% 0;
  }
}

@media screen and (max-width: 768px){

  .category_nav {
    top:213.91px;
  }
  .col-3.col-md-3.order-2.order-md-3.text-right{
    max-width: unset;
    min-width: 75%;
  }
  .site-navbar .site-navigation .site-menu > li {
    margin: 0 1%;
  }

}
@media screen and (min-width: 575px) {
  .mobile_category_icon_ul{
    display: none;
  }
  .pageName{
    display: none;
  }
  #infoLogoutBtn{
    display: none;
  }
}
/* 모바일 수평 스크롤 금지 */
.container {
  /*overflow-x: hidden;*/
}
@media screen and (max-width: 575px) {
  .pageName{
    display: flex;
  }
  #infoLogoutBtn{
    display: unset;
  }

  .col-3.col-md-3.order-2.order-md-3.text-right{
    max-width: unset;
    min-width: unset;
  }
  .mobile_search_hide_text{
    height: 53px;
    margin-left: 0;
  }
  .mobile_category_icon_ul{
    display:flex;
    justify-content: flex-end;
    align-items: center;
  }
  .login_ul{
    display: none;
  }
  .site-navbar .site-navbar-top {
    padding-top:0px;
    padding-bottom: 0px;

  }
  .mobileSearchDiv{
    display: none;
  }

  .ButtonNav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #svg{
    height: 30px;
  }

  .logo_img{
    width: 100px;
  }

  .site-navbar .site-logo a {
    font-size: 25px;
  }

  .site-logo {
    padding-left: 4%;
    display: flex;
    justify-content: flex-start;
  }

  .site-navigation {
    display: none;
  }
  .mobile_nav{
    display: flex;
  }

  .input-mobile-search_div {
    display: flex;
  }

  .input-mobile-search {
    display: flex;
  }

  .mobile_search_icon {
    display: inline-block;
  }

  .input-mobile-category_div{
    display: flex;
  }

  .mobile_category_icon {
    display: inline-block;
  }

  .site-navbar .site-logo a {
    color: #fff;
    padding: 0;
  }

  .site-navbar-top {

    background: #a7a1f71c;
    display: flex;
    align-items: center;
  }

  .sign-in {
    color: #000;
  }

  .nav_icon{
    color: #000;
  }

  .mobile_nav_item > li.active{
    border-style: none;
  }
  .mobile_nav_item > li.active > a{
    color: #5f0080;
  }
  .gridContainer {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(150px, auto));*/
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .mobile_nav_item > li.active > a > #svg{
    color: #5f0080;
  }
  .ItemName > a{
    font-size: 0.7em;
  }

  /*모바일 클릭 active*/
  .logo_img:active,.mobile_nav_item > li:active,
  .icon-search2:active,.sign-in:active
  ,.mobile_search_close_btn:active
  ,.ItemName:active{
    background:rgba(0, 0, 0, 0.1);
  }
  .site-block-top-search input {
    border-radius: unset;
    border: 1px solid #fff;
  }
  .form-control{
    height: 50px;
  }

}
@media screen and (max-width: 340px) {
  .pageName.col-6.col-md-3.order-1.order-md-1.text-center{
    max-width: 44%;
  }

}
@media screen and (max-width: 320px) {
  .site-navbar .site-logo a:nth-child(1) {
    font-size: 20px;
  }
  .sign-in {
    font-size: 0.6em;
  }
  .site-navbar .site-logo a:nth-child(2) {
    font-size: 23px;
  }
  .mobile_nav_item > li > a{
    font-size: 0.6em;
  }
  .ItemName > a{
    font-size: 0.6em;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .gridItem {
    height: 300px;
  }
}

/***********************************************************************************************/

