<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TIKITAKA &ndash; 상품조회 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/icon.css">
    <!--이미지슬라이드-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
</head>

<body>

<div id="img_modal">
    <img id="img_modal_content" src="" alt="">
    <a id="img_close_button" onclick="closeModalImg()"><i class="fas fa-times fa-1x"></i></a>

</div>

<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <!--replace 헤더-->
        <div class="site-navbar-top" th:replace="common::header(auction_list)">
        </div>
        <!------------->
        <!--replace-login-------------------------------->

        <nav class="site-navigation text-right text-md-center" role="navigation"
             th:replace="common::menu(auction_list)">
        </nav>
        <!----------------------------------------------------------->
    </header>
    <!--replace logo-login-->

    <!--모바일 검색창-->
    <div th:replace="common::mobile_search(auction_list)"></div>

    <div class="site-section margin-top-2">
        <div class="col-md-12 mb-0"></div>
        <input type="hidden" id="p_id" th:value="${#locale}">
        <input type="hidden" id="prodNo" value="">
        <input type="hidden" id="query" value="">
        <input type="hidden" id="prodNm" value="">
        <input type="hidden" id="prodPrc" value="">
        <input type="hidden" id="catNo" value="">
        <input type="hidden" id="way" value="">
        <input type="hidden" id="nego" value="">
        <input type="hidden" id="prodCo" value="">
        <div class="container">

            <div class="row align-items-start" style=" border-bottom:  1px solid #ddd; padding:0 0 5% 0;">
                <div class="col-12 col-md-6 order-1 order-md-1  text-center">
                    <!--                    <figure class="block-4-image">-->
                    <!--                        <img id="mainDetailImg" src="" alt="Image placeholder" class="img-fluid"-->
                    <!--                             style="max-height: 500px;">-->
                    <!--                    </figure>-->
                    <div class="bxslider bxslider1" style="display: none">
                        <div class="bxsliderImgDiv bxsliderImgDiv1">
                            <img class="bxsliderImg1" src="" alt="슬라이드 이미지1" onclick="goDetailPhoto(1);">
                        </div>
                    </div>

                    <div class="bxslider bxslider2 " style="display: none">
                        <div class="bxsliderImgDiv bxsliderImgDiv1">
                            <img class="bxsliderImg1" src="" alt="슬라이드 이미지1" onclick="goDetailPhoto(1);">
                        </div>
                        <div class="bxsliderImgDiv bxsliderImgDiv2">
                            <img class="bxsliderImg2" src="" alt="슬라이드 이미지2" onclick="goDetailPhoto(2);">
                        </div>
                    </div>

                    <div class="bxslider bxslider3" style="display: none">
                        <div class="bxsliderImgDiv bxsliderImgDiv1">
                            <img class="bxsliderImg1" src="" alt="슬라이드 이미지1" onclick="goDetailPhoto(1);">
                        </div>

                        <div class="bxsliderImgDiv bxsliderImgDiv2">
                            <img class="bxsliderImg2" src="" alt="슬라이드 이미지2" onclick="goDetailPhoto(2);">
                        </div>
                        <div class="bxsliderImgDiv bxsliderImgDiv3">
                            <img class="bxsliderImg3" src="" alt="슬라이드 이미지3" onclick="goDetailPhoto(3);">
                        </div>
                    </div>

                    <div class="bxslider bxslider4" style="display: none">
                        <div class="bxsliderImgDiv bxsliderImgDiv1">
                            <img class="bxsliderImg1" src="" alt="슬라이드 이미지1" onclick="goDetailPhoto(1);">
                        </div>
                        <div class="bxsliderImgDiv bxsliderImgDiv2">
                            <img class="bxsliderImg2" src="" alt="슬라이드 이미지2" onclick="goDetailPhoto(2);">
                        </div>
                        <div class="bxsliderImgDiv bxsliderImgDiv3">
                            <img class="bxsliderImg3" src="" alt="슬라이드 이미지3" onclick="goDetailPhoto(3);">
                        </div>
                        <div class="bxsliderImgDiv bxsliderImgDiv4">
                            <img class="bxsliderImg3" src="" alt="슬라이드 이미지4" onclick="goDetailPhoto(4);">
                        </div>
                    </div>

                    <div class="bxslider bxslider5" style="display: none">
                        <div class="bxsliderImgDiv bxsliderImgDiv1">
                            <img class="bxsliderImg1" src="" alt="슬라이드 이미지1" onclick="goDetailPhoto(1);">
                        </div>
                        <div class="bxsliderImgDiv bxsliderImgDiv2">
                            <img class="bxsliderImg2" src="" alt="슬라이드 이미지2" onclick="goDetailPhoto(2);">
                        </div>
                        <div class="bxsliderImgDiv bxsliderImgDiv3">
                            <img class="bxsliderImg3" src="" alt="슬라이드 이미지3" onclick="goDetailPhoto(3);">
                        </div>
                        <div class="bxsliderImgDiv bxsliderImgDiv4">
                            <img class="bxsliderImg4" src="" alt="슬라이드 이미지4" onclick="goDetailPhoto(4);">
                        </div>
                        <div class="bxsliderImgDiv bxsliderImgDiv5">
                            <img class="bxsliderImg5" src="" alt="슬라이드 이미지5" onclick="goDetailPhoto(5);">
                        </div>
                    </div>

                    <div class="aic1" style="border-bottom: 1px solid #dee2e6">
                        <h1 id="detailName"></h1>
                        <div class="d-flex-j-between">
                            <div><p>현재가:&nbsp&nbsp
                                <span class="text-black" id="currentPrice"></span><span class="text-black">원</span>
                            </div>
                            </p>
                            <input type="hidden" id="detailPrice">
                            <div class="d-flex-j-a-center">
                                <p>
                                    <span class="margin-right-5 text-black">남은시간:</span>
                                    <span class="text-black" id="sample01"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex-j-between text-left">
                        <div class="aic2">
                            <p>시작가:&nbsp&nbsp <span id="startPrice" class="text-black"></span><span
                                    class="text-black">원</span></p>
                            <p>판매자아이디:&nbsp&nbsp<span id="selId"></span></p>
                            <p>조회수:&nbsp&nbsp<span id="detailView"></span></p>
                        </div>
                        <div style="padding-top: 2%;">

                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-6 order-2 order-md-2  text-left">

                    <div class="auctionTitle">실시간 입찰 현황</div>
                    <ul class="auction_box">
                    </ul>
                    <div class="d-flex-j-between content auction_button">
                        <input id="priceInput" type="number" name="message"
                               class="width-80p margin-left-right-10 text-black" step="1000" pattern="[0-9]*"
                               inputmode="numeric" min="0">
                        <input class="send btn btn-primary width-80p margin-left-right-10" id="tradeProd"
                               value="입찰하기" inputmode="none">
                    </div>

                    <div class="d-flex-j-between content auction_button_finish_sender"
                         style="display: none; cursor: pointer;">
                        <span class="width-80p margin-left-right-10 text-black">상품이 낙찰되었습니다!</span>
                        <input class="goChat btn btn-primary width-80p margin-left-right-10"
                               onclick="goChatToSenderId()"
                               value="낙찰자와 거래하기" inputmode="none">
                    </div>

                    <div class="d-flex-j-between content auction_button_finish_buyer"
                         style="display: none; align-items: center; cursor: pointer;">
                        <span class="width-80p margin-left-right-10 text-black">상품이 낙찰되었습니다!</span>
                        <input class="goChat btn btn-primary width-80p margin-left-right-10" onclick="goChatToBidId()"
                               value="판매자와 거래하기" inputmode="none">
                    </div>
                    <div class="auction_finish" style="display: none;">
                        <span class="margin-left-right-10 text-black">낙찰자 아이디: </span>
                        <span id="bidId" class=" margin-left-right-10 text-black"></span>
                    </div>
                </div>


                <!--            <div class="site-section block-3 site-blocks-2 bg-light">-->
                <!--                <div class="container">-->
                <!--                    <div class="row justify-content-center">-->

                <!--                    </div>-->
                <!--                    <div class=" content auction_button_finish"-->
                <!--                         style="display: none; justify-content: flex-start; cursor: pointer;">-->
                <!--                        <span class=" margin-left-right-10 text-black">낙찰자 아이디: </span>-->
                <!--                        <span id="bidId" class=" margin-left-right-10 text-black"></span>-->
                <!--                    </div>-->

                <!--                </div>-->
                <!--            </div>-->

                <!--            <div class="row align-items-center"-->
                <!--                 style="border-bottom: 1px solid #ddd;">-->
                <!--                <div class="col-12 col-md-12 order-2 order-md-2  text-left">-->
                <!--                    <div class="p_content" style=" min-height: 200px;">-->
                <!--                        <span id="prodContent" class="font-weight-normal"></span>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </div>-->
            </div>
        </div>
        <a id="arrow_up" class="scroll_up" onclick="scroll_up()"> </a>

        <!-- 모바일 메뉴-->
        <div th:replace="common::mobile(auction_list)"></div>

        <style>
            @media screen and (max-width: 575px) {
                .site-section {
                    padding: 0;
                }

                .bx-viewport {
                    width: 100%;
                    display: block;
                !important:;
                    height: 400px;
                !important;
                    min-height: 400px;
                }

                .bx-wrapper img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    min-height: 400px;
                !important;
                    border-radius: 1px;
                }
            }

            @media screen and (min-width: 575px) {
                .bx-viewport {
                    width: 100%;
                    display: block;
                    height: 100%;
                    min-height: 500px;
                !important;
                }

                .bx-wrapper img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    min-height: 500px;
                !important;
                    border-radius: 1px;
                }
            }

            .bx-wrapper {
                margin-bottom: 0;
            }

            .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
                bottom: 5vh;
            !important;

            }

            .bx-wrapper {
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: 5px solid #fff;
                background: #fff;
            }

            tr {
                color: black;
            }

            .auctionTitle {
                height: 30px;
                background: #a7a1f71c;
                color: black;
                border: 1px solid #ddd;
                border-bottom: none;
                text-align: center;
                font-weight: normal;
            }

            .auction_box {
                white-space: nowrap;
                overflow: scroll;
                padding: 0 20px;
                border: 1px solid #ddd;
            }

            #detailMap > span {
                color: #a88d2c;
            }

            #detailName {
                color: #000;
                font-size: 20px;
                margin-bottom: 50px;
            }

            #currentPrice {
                font-size: 20px;
                color: #000;
                display: inline-block;
            }

            #currentPrice + span {

                font-size: 20px;
                color: #000;
            }

            #selId, #detailWay, #detailAddr, #detailView {
                color: #000;
            }

            .aic1 {
                padding-top: 2%;
            }

            .aic2 {
                padding-top: 2%;
            }

            #prodContent {
                color: #000;
            }

            figure {
                overflow: hidden;
            }

            #img_modal {
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.9);
                display: none;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                z-index: 20000;
            }

            #img_modal_content {
                background-size: cover;
                max-height: 95%;
                max-width: 95%;
                z-index: 10000;
                position: relative;
            }

            #img_close_button {
                position: absolute;
                z-index: 10001;
                color: #fff;
                font-size: 30px;
                font-weight: bold;
                top: 3%;
                right: 10%;
                cursor: pointer;
            }

            .img-fluid0 {
                display: none;
                border-radius: 5px;
                max-height: 207.5px;
            }


            p, label {
                font-weight: normal;
            }

            #sample01 {
                color: red;
            }
            #selId{
                cursor: pointer;
            }

        </style>
    </div>
</div>
</span>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/aos.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="../js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
<!--이미지슬라이드-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $('#loading').css('display', 'block');


    $(document).ready(function () {
        getProductDetail();
        selectAuction();

    });

    function doBxslider(props) {
        $('.bxslider' + props).bxSlider({ // 클래스명 주의!
            auto: false, // 자동으로 애니메이션 시작
            speed: 500,  // 애니메이션 속도
            pause: 5000,  // 애니메이션 유지 시간 (1000은 1초)
            mode: 'horizontal', // 슬라이드 모드 ('fade', 'horizontal', 'vertical' 이 있음)
            autoControls: true, // 시작 및 중지버튼 보여짐
            pager: true, // 페이지 표시 보여짐
            captions: true, // 이미지 위에 텍스트를 넣을 수 있음
            infiniteLoop: false,
            hideControlOnEnd: true,
        });
    }

    /*옥션 update*/
    function updateAuction(mbrId, endBid) {
        var param = {
            endBid: endBid, //현재가
            mbrId: mbrId,  //입찰자
            prodNo: searchParam('prodNo')//상품번호
        }
        $.ajax({
            url: '/auction/update.do',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }


    /*Bid insert*/
    function insertBid(mbrId, endBid) {
        var param = {
            bidProdNo: searchParam('prodNo'), //상품번호
            bidBidder: mbrId,
            bidBid: endBid
        }
        $.ajax({
            url: '/bid/create',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });

    }

    /*옥션 select*/
    function selectAuction() {
        var param = {
            prodNo: searchParam('prodNo')//상품번호
        }
        $.ajax({
            url: '/auction/select.do',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {

            var year = data.auctionDetail.aucEndTime.substring(0, 4);
            var month = data.auctionDetail.aucEndTime.substring(5, 7) - 1;
            var day = data.auctionDetail.aucEndTime.substring(8, 10);
            var hour = data.auctionDetail.aucEndTime.substring(11, 13);
            var minute = data.auctionDetail.aucEndTime.substring(14, 16);
            var second = data.auctionDetail.aucEndTime.substring(17, 19);

            var dateObj = new Date(year, month, day, hour, minute, second);
            dateObj.setDate(dateObj.getDate());
            countDownTimer('sample01', dateObj);

            $('#currentPrice').text(data.auctionDetail.endBid);
        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }

    /*멤버정보*/
    function getMemberDetail() {
        var param = {
            userId: $('#selId').text(),
        }
        $.ajax({
            url: '/member/detail',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            console.log("data.memberDetail", data.memberDetail);
            $('#detailAddr').text(data.memberDetail.mbrAddr);

        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });

    }


    /*정보*/
    function getProductDetail() {
        var param = {
            prodNo: $('#query').val(),
        }

        $.ajax({
            url: '/product/detail.do',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            drawPrdList(data);
            console.log("data.dataDetail", data.dataDetail);
            $('#startPrice').text(data.dataDetail.prodPrc);
            if (data.dataDetail.prodFinish) {
                $('#prodFinish').css('display', 'none');
                $('#updateProd').attr('class', 'btn_finish ');
                $('#updateProd').val('판매완료');
                $('#updateProd').attr('onclick', '').unbind('click');

            }
            getMemberDetail();

        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });

    }

    function drawPrdList(data) {
        if (typeof data.dataDetail !== 'undefined') {
            var imgPath = '';
            var container = $('.bxslider');
            //이미지경로를 미리 만들어놓는다.
            imgPath = '/istatic/images/' + data.dataDetail.prodNo + '/1.jpg';
            //메인 이미지 html
            $('#mainDetailImg').attr("src", imgPath);
            //디테일 정보들
            $('#selNmLogo').text(data.dataDetail.prodNm);
            $('#detailName').text(data.dataDetail.prodNm);
            $('#startPrice').text(data.dataDetail.prodPrc);
            $('#priceInput').val(parseInt($('#currentPrice').text()) + 1000);
            $('#selId').text(data.dataDetail.selId);
            $('#selId').attr('onclick', 'goChatToId("' + data.dataDetail.selId + '")');
            $('#detailView').text(data.dataDetail.prodView);
            if (data.dataDetail.selId == $('#p_id').val()) {
                buttonCheck(1);
            } else {
                buttonCheck(0);
            }
            $('#detailWay').text(data.dataDetail.way);
            $('#prodNo').val(data.dataDetail.prodNo);
            $('#prodNm').val(data.dataDetail.prodNm);
            $('#prodPrc').val(data.dataDetail.prodPrc);
            $('#catNo').val(data.dataDetail.catNo);
            $('#way').val(data.dataDetail.way);
            $('#nego').val(data.dataDetail.nego);
            $('#prodCo').val(data.dataDetail.prodCo);
            $('#prodContent').text(data.dataDetail.content);
            $('#imgCount').val(data.dataDetail.imgCount);
            var wday = data.dataDetail.wday;
            $('#wday').text(timeForToday(wday));


            var imgDetailPath = '';
            $('.bxslider' + data.dataDetail.imgCount).css('display', 'block');
            doBxslider(data.dataDetail.imgCount);
            for (var i = 1; i < data.dataDetail.imgCount + 1; i++) {
                imgDetailPath = '/istatic/images/' + data.dataDetail.prodNo + '/' + i + '.jpg';
                $('.img-fluid' + i).attr("src", imgDetailPath);
                $('.img-fluid' + i).css("display", '');

                $('.bxsliderImg' + i).attr("src", imgDetailPath);
            }


        }


    }

    function searchParam(key) {
        return new URLSearchParams(location.search).get(key);
    };


    $('#query').val(searchParam('prodNo'));

    function buttonCheck(props) {
        if (props != 1) {
            $('.ButtonNav>input:nth-child(2n-1)').css('display', 'block');
            $('.ButtonNav>a').css('display', 'block');
        } else {
            $('.ButtonNav>input:nth-child(2n)').css('display', 'block');
        }
    }


    function goReport() {
        var prodNo = $("#query").val();
        var selId = $('#selId').text();
        var prodNm = $('#prodNm').val();
        location.href = "/complain/index?prodNo=" + prodNo + '&selId=' + selId + '&prodNm=' + prodNm;
    }


    function goDetailPhoto(i) {
        var imgPath = $('.bxsliderImg' + i).attr("src");
        $('#img_modal').css('display', 'flex');
        $('#img_modal').children('img').attr("src", imgPath);

    }

    function closeModalImg() {
        $('#img_modal').css('display', 'none');
    }


    $('#loading').css('display', 'block');
    $(window).on('load', function () {
        $('#loading').css('display', 'none')
    });


    //남은시간 계산
    const countDownTimer = function (id, date) {
        var _vDate = new Date(date);
        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            var distDt = _vDate - now;
            if (distDt < 0) {
                clearInterval(timer);
                document.getElementById(id).textContent = '경매가 종료되었습니다!';
                $('.auction_finish').css('display', 'block')
                $('.auction_button').css('display', 'none');
                //경매 종료시 판매자 버튼 활성화
                var param = {
                    prodNo: $('#query').val(),
                }
                $.ajax({
                    url: '/product/detail.do',
                    data: param,
                    type: 'post',
                    dataType: 'json'
                }).done(function (data) {
                    if (data.dataDetail.selId == $('#login_id').text()) {
                        $('.auction_button_finish_sender').css('display', 'flex');
                    }
                }).fail(function (data, textStatus, errorThrown) {
                    console.log(textStatus);
                });
                //경매 종료시 구매자 버튼 활성화
                var param = {
                    prodNo: searchParam('prodNo')//상품번호
                }
                $.ajax({
                    url: '/auction/select.do',
                    data: param,
                    type: 'post',
                    dataType: 'json'
                }).done(function (data) {

                    if ($('#login_id').text() == data.auctionDetail.mbrId) {
                        $('.auction_button_finish_buyer').css('display', 'flex');
                    }
                    $('.auction_button_finish').css('display', 'flex');
                    $('#bidId').text(data.auctionDetail.mbrId);
                }).fail(function (data, textStatus, errorThrown) {
                    console.log(textStatus);
                });
                $('.auction_text').text('경매가 종료되었습니다.');
                return;
            }
            var days = Math.floor(distDt / _day);
            var hours = Math.floor((distDt % _day) / _hour);
            var minutes = Math.floor((distDt % _hour) / _minute);
            var seconds = Math.floor((distDt % _minute) / _second);

            document.getElementById(id).textContent = days + '일 ';
            document.getElementById(id).textContent += hours + '시간 ';
            document.getElementById(id).textContent += minutes + '분 ';
            document.getElementById(id).textContent += seconds + '초';
        }

        timer = setInterval(showRemaining, 1);
    }


    $(function () {

        var chatBox = $('.auction_box');
        var messageInput = $('input[name="message"]');
        var sendBtn = $('.send');
        var prodNo = searchParam('prodNo');
        var mbrId = $('#p_id').val();

        var sock = new SockJS("/endpoint");
        var client = Stomp.over(sock); // 1. SockJS를 내부에 들고 있는 client를 내어준다.-->

        // 2. connection이 맺어지면 실행된다.-->
        var count = parseInt($('#auctionCount').text());

        // input 최소 가격
        client.connect({}, function () {
            client.subscribe('/subscribe/chat/room/first' + prodNo, function (chat) {
                var content = JSON.parse(chat.body);
                chatBox.append('<li class="text-black active-color-purple text-right auction_text">' + content.mbrId + '님이 입장하였습니다.');
            });
            $('#priceInput').change(function () {
                // 시작시
                if ($('#startPrice').text() === $('#currentPrice').text()) {
                    var min = parseInt($('#currentPrice').text());

                    if ($(this).val() < min) {
                        $(this).val(min);
                    }
                    // 입찰 시작 후
                } else {
                    var min = parseInt($('#currentPrice').text()) + 1000;

                    if ($(this).val() < min) {
                        $(this).val(min);
                    }
                }
            });
            getSendSubscribe();

        });

        function getSendSubscribe() {
            // 3. send(path, header, message)로 메시지를 보낼 수 있다.-->
            client.send('/publish/chat/join', {}, JSON.stringify({prodNo: prodNo, mbrId: mbrId}));
            // 4. subscribe(path, callback)로 메시지를 받을 수 있다. callback 첫번째 파라미터의 body로 메시지의 내용이 들어온다.-->

            client.subscribe('/subscribe/chat/room/' + prodNo, function (chat) {

                var content = JSON.parse(chat.body);
                // chatBox.append('<li class="text-black active-color-purple text-right">' + content.mbrId + '님이 입장하였습니다.');
                if (content.message != null) {
                    selectAuction();
                    if (content.mbrId === $('#p_id').val()) {
                        $('#myPrice').text(content.message);
                        chatBox.append('<li class="text-black active-color-purple text-right">' + content.message + '원을 입찰하였습니다.');
                    } else {
                        chatBox.append('<li class="text-black">' + content.mbrId + '님이' + content.message + '원을 입찰하였습니다.</li>');
                    }
                    $('#detailPrice').val(content.message);
                    $('#topPriceUser').text(content.mbrId);
                    $('#topPrice').text(content.message);
                    $('#priceInput').val(parseInt(content.message) + 1000);
                    count++;
                    $('#auctionCount').text(count);
                }
                $('.auction_box').scrollTop($('.auction_box')[0].scrollHeight);

            });
        }


        sendBtn.click(function () {
            if ($('#p_id').val() == $('#selId').text()) {
                popup('알림메세지', '판매자는 입찰할 수 없습니다.');
            } else {
                var message = messageInput.val();
                client.send('/publish/chat/message', {}, JSON.stringify({
                    prodNo: prodNo,
                    message: message,
                    mbrId: mbrId
                }));
                updateAuction(mbrId, parseInt(message));
                insertBid(mbrId, parseInt(message));
                messageInput.val('');
            }
        });
    });

    var newName, n = 0;

    //팝업 창 제목 만들기 함수(다중 팝업을 위한..)
    function newWindow(value) {
        n = n + 1;
        newName = value + n;
    }

    //채팅 버튼 클릭시 채팅방 입장 -> 낙찰자 화면
    function goChatToSenderId() {
        prodNo = searchParam('prodNo');
        var top = Math.random() * 100 + 100;
        var left = Math.random() * 100 + 600;
        newWindow("MyWindow");
        window.open('/member/chatting/chat?prodNo=' + prodNo + '&sendId=' + $('#bidId').text() + '&recipientId=' + $('#selId').text(), newName,
            'toolbar=no,location=no,status=no,menubar=no,scrollbars=auto,resizable=no,directories=no,width=400,height=700,top=' + top + ',left=' + left + '');

    }

    //채팅 버튼 클릭시 채팅방 입장 -> 판매자 화면
    function goChatToBidId() {
        prodNo = searchParam('prodNo');
        var top = Math.random() * 100 + 100;
        var left = Math.random() * 100 + 600;
        newWindow("MyWindow");
        window.open('/member/chatting/chat?prodNo=' + prodNo + '&sendId=' + $('#selId').text() + '&recipientId=' + $('#bidId').text(), newName,
            'toolbar=no,location=no,status=no,menubar=no,scrollbars=auto,resizable=no,directories=no,width=400,height=700,top=' + top + ',left=' + left + '');

    }


</script>

</body>
</html>





