<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TIKITAKA &ndash; 신고상세 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


<div class="site-wrap">
    <header class="site-navbar" role="banner">

        <nav class="site-navigation text-right text-md-center" role="navigation"
             th:replace="common::adminmenu(complain_detail)">
        </nav>
        <!---------------------------------------------------------->
    </header>

    <!--모바일 검색창-->
    <div th:replace="common::mobile_search(complain_detail)"></div>

    <!----------------------->
    <div class="site-section margin-top-2">
        <div class="container table_container">
            <div class="content">
                <form id ="goDetailFrm" name="goDetailFrm" method="post">
                    <div class="tblBox">
                        <table class="tblType01" style="table-layout: fixed">
                            <thead>
                            <tr>
                                <th id="compIdx"  scope="col" style="width: 1%;"></th>
                                <th id="repo" scope="col" style="width: 5%; "></th>
                                <th id="compNm" scope="col" style="width: 5%;"></th>
                                <th id="writingDay" scope="col" style="width: 6%; "></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td colspan="4"  id="compCon" height=300
                                  style="width: 5%; vertical-align: top;">
                             </td>
                            </tr>
                            <tr>
                                <td colspan="4" id="writingTime"  scope="col" style="width: 5%;"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </form>
            </div>

        </div>
    </div>


</div>
<style>
.table_container{
    display: flex;
    justify-content: center;
}
.content{
    width: 50%;
}
#compIdx{
    text-align: left;
    padding:0 10px;
}
#repo{
    text-align: left;
    color: red;
    padding:0 10px;
}
#compCon{
    text-align: left;
    font-size: 18px;
    padding:0 10px;
    color: #000;
}
#writingDay{
    font-weight: 14;
    font-weight: lighter;
    text-align: right;
    padding:0 10px;
}
#writingTime{
    text-align: right;
}

</style>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="/js/main.js"></script>

<script>
    function searchParam(key) {
        return new URLSearchParams(location.search).get(key);
    };


    /*신고내용 정보*/
    function getCompDetail() {
        var param = {
            compIdx: searchParam('compIdx'),
        };

        $.ajax({
            url: '/comp/detail',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            console.log("data.complainDetail", data.compDetail);
            $('#compIdx').text(data.compDetail.compIdx);
            $('#compNm').text(data.compDetail.compNm);
            $('#repo').text("ID:" +" " +data.compDetail.repo);
            $('#spt').text("신고자:" + " " +data.compDetail.spt);
            $('#writingDay').text(data.compDetail.writingTime.substring(0,10));
            $('#writingTime').text(data.compDetail.writingTime.substring(12,22));
            $('#compCon').text(data.compDetail.compCon);


        }).fail(function (data, textStatus) {
            console.log(textStatus);
        });

    }

        $(document).ready(function () {
            getCompDetail();
        });


    $('#loading').css('display','block');
    $(window).on('load', function(){ $('#loading').css('display','none')});



</script>


</body>
</html>


