<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TIKITAKA &ndash; 신고리스트 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <nav class="site-navigation text-right text-md-center" role="navigation"
             th:replace="common::adminmenu(complain_list)">
        </nav>
        <!---------------------------------------------------------->
    </header>

    <!--모바일 검색창-->
    <div th:replace="common::mobile_search(complain_list)"></div>

    <!----------------------->
    <div class="site-section margin-top-2">
        <div class="container">
            <div class="content">
                <form id="goDetailFrm" name="goDetailFrm">
                    <input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}">
                    <!-- //.section -->
                    <div class="tblTop">
                        <div class="srchNum">총 <span th:text="${listSize}"></span>건의 신고 리스트</div>
                    </div>
                    <!-- .tblBox -->
                    <div class="tblBox">
                        <table class="tblType01" style="table-layout: fixed">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 5%;">번호</th>
                                <th scope="col" style="width: 5%;">제목</th>
                                <th scope="col" style="width: 10%;">용의자</th>
                                <th scope="col" style="width: 10%;">신고자</th>
                                <th scope="col" style="width: 10%;">날짜</th>
                                <th scope="col" style="width: 10%;">확인여부</th>
                                <th scope="col" style="width: 5%;"></th>
                                <th scope="col" style="width: 5%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cList, status :${compList}">
                                <td th:text=" ${cList.compIdx}"></td>
                                <td th:text=" ${cList.compNm}"></td>
                                <td th:text=" ${cList.repo}"></td>
                                <td th:text=" ${cList.spt}"></td>
                                <td th:text=" ${#strings.substring(cList.writingTime,0,10)}"></td>
                                <td th:if="${cList.readCheck}" style="color: #000;">읽음</td>
                                <td th:unless="${cList.readCheck}">안읽음</td>
                                <td>
                                    <a th:href="@{/admin/complain/detail(compIdx=${cList.compIdx},time=${cList.writingTime})}">
                                        상세보기
                                    </a>
                                </td>
                                <td th:onclick="'javascript:goDelete('+ ${cList.compIdx} + ');'">삭제</td>
                            </tr>

                            <tr th:if="${listSize == 0}">
                                <td colspan="8" scope="row">데이터가 없습니다.</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- //.tblBox -->
                    <!-- .paging_wrap -->
                    <div class="paging_wrap">
                        <div class="paging" th:utext="${pageHtml}"></div>
                    </div>
                    <!-- //.paging_wrap -->
                </form>
            </div>

        </div>
    </div>


</div>
<style>
    tbody > tr {
        font-weight: bold;
        border-bottom: solid 1px #d8ddf3;
    }
    tbody > tr > td:nth-child(1) {
        color: #000;
    }
    tbody > tr > td:nth-child(8) {
        color: red;
    }

</style>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="/js/main.js"></script>

<script>

    //페이지 이동
    function goPage(num) {
        $('#currentPage').val(num);
        goSch();
    }

    function goSch() {
        var mainFrm = $('#goDetailFrm');
        mainFrm.attr('method', "post");
        mainFrm.attr('action',"/admin/complain/list");
        mainFrm.submit();
    }


    /*신고정보 삭제*/
    function goDeleteComp(compIdx) {
        var param = {
            compIdx: compIdx,
        };

        $.ajax({
            url: '/comp/delete',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            if (data.resultCode == 200) {
                popup('알림메세지', data.resultMsg, '/admin/complain/list');
            } else {
                popup('알람메세지', data.resultMsg);
                return false;
            }

        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);
        });
    }

    function goDelete(compIdx) {
        if (confirm("신고내용 삭제") == true) {    //확인
            goDeleteComp(compIdx);
            window.location.reload();
        } else {   //취소
            return false;
        }
    }


    $('#loading').css('display','block');
    $(window).on('load', function(){ $('#loading').css('display','none')});
</script>


</body>
</html>


