<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tiki.auction.mapper.AuctionMapper">



    <insert id="insertAuction" parameterType="AuctionDTO">
        INSERT INTO auction ( auc_end_time, starting_bid, prod_no, mbr_id
        ) VALUES (
        (select date_add(current_timestamp ,interval 1 day))
        , #{startingBid} , #{prodNO},#{mbrId}
        )
    </insert>

    <update id="updateBid" parameterType="AuctionDTO">
        update
            auction
        set
            mbr_id = #{mbrId}, end_bid = #{endBid}
        AND
            prod_no = #{prodNo}
    </update>


</mapper>